<div class="popup_design max-700"> 
  <a class="modal_closeicn_btn" href="javascript:void(0)">
    <mat-icon (click)="close()" cdkFocusInitial>close</mat-icon>
  </a>

  <div class="modal-header ">
    <h4 class="modal-title">Request Status</h4>
  </div>
  <div class="modal-body">
    <mat-radio-group *ngIf="showFields" [(ngModel)]="selectedStatus">
        <mat-radio-button value="Approved" id="option1">Approve</mat-radio-button>
        <mat-radio-button class="ml-2" value="Rejected" id="option2">Reject</mat-radio-button>
      </mat-radio-group>
      
  <div class="pop_up_container p-3">
    <div class="popup_header pb-0" mat-dialog-title>
      <h3 class="text-left">Remarks</h3>
    </div>

    <mat-dialog-content>
      <div class="popup_body">  
        <div class="form-group input_field mt-2">
          <fieldset>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [(ngModel)]="remarks" placeholder="Type your remark here">
            </mat-form-field>
          </fieldset>
        </div>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns pt-0">
      <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    </mat-dialog-actions>
  </div>
</div>
