<div class="popup_design max-500"> 
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
             <h3 class="text-left">Save View</h3>
        </div>
         <mat-dialog-content class="mt-2">
            <div class="popup_body">
                <div class="input_field inp_lablel">
                    <mat-label>Name</mat-label>
                    <mat-form-field appearance="outline" class="w-auto">
                      <input type="text" matInput>
                     </mat-form-field>
                  </div>
             </div>
        </mat-dialog-content>
        <mat-dialog-actions  class="d-flex popup_actions_btns pt-0">
            <button mat-flat-button color="primary" class="w-100">Confirm</button>
        </mat-dialog-actions>
    </div>
</div>