.box-desc{
    text-align: center;
    margin-bottom: 20px;
    .label_text{
        color: #878787;
        font-size: 16px;
    }
    span{
        strong{
            color: #000;
        }
    }
}