<section class="popup_design max-800 HSBC_Common_Pages pb-0">
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
            <h3>User Details</h3>
        </div>
        <mat-dialog-content>
            <div class="popup_body">
                <div class="box-desc">
                    <span class="label_text">PSID</span>
                    <span class="skyblue_badge ml-2">142587</span>
                    <span class="label_text ml-3">Username</span>
                    <span class="ml-2"><strong>keyur&#64;monaco</strong></span>
                </div>
                <div class="table_sec">
                    <div class="tableResponsive ">
                        <table class="CommonTable_FixedScroll firstSrCols no_stripe_borderX_table compressed_table ">
                            <thead>
                                <tr class="tr_lightred_bg">
                                    <th>Section</th>
                                    <th>Sub Section</th>
                                    <th>Action</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Section">Existing Portfolio</td>
                                    <td data-label="Sub Section">Firm Profile, Network</td>
                                    <td data-label="Action">View</td>
                                    <td data-label="Time">10.25</td>
                                </tr> 
                                <tr>
                                    <td data-label="Section">GST Analytics</td>
                                    <td data-label="Sub Section">Firm Profile, Network</td>
                                    <td data-label="Action">View</td>
                                    <td data-label="Time">10.25</td>
                                </tr> 
                                <tr>
                                    <td data-label="Section">Existing Portfolio</td>
                                    <td data-label="Sub Section">Firm Profile, Network</td>
                                    <td data-label="Action">View</td>
                                    <td data-label="Time">10.25</td>
                                </tr> 
                                <tr>
                                    <td data-label="Section">Bureau Analysis</td>
                                    <td data-label="Sub Section">Firm Profile, Network</td>
                                    <td data-label="Action">View</td>
                                    <td data-label="Time">10.25</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-table NP_LeftPagintion">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing
                            {{(hsndetailsPage.startIndex()+1)}} to
                            {{(hsndetailsPage.pageSize()*hsndetailsPage.page()) >
                            (hsndetailsPage.totalSize) ? (hsndetailsPage.totalSize) :
                            (hsndetailsPage.pageSize()*hsndetailsPage.page())}} of
                            {{hsndetailsPage.totalSize}} rows
                            <div class="dataTables_length" id="tickets-table_length">
                                <div class="NP_HSBC_ComInput select-field">
                                    <mat-form-field appearance="outline">
                                        <mat-select [(ngModel)]="hsndetailsPage.pageSize"
                                            [panelClass]="'pagination_select'">
                                            <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                {{pages.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <span class="grey_text"> row per page</span>
                        </div>
                        <div class="text-md-right float-md-right pagination-rounded">
                            <ul class="pagiation pagination-rounded psb-flex-end my-2">
                                <ngb-pagination [collectionSize]="hsndetailsPage.totalSize" [maxSize]="3"
                                    [(page)]="hsndetailsPage.page" [rotate]="true" [boundaryLinks]="true"
                                    [pageSize]="hsndetailsPage.pageSize()">
                                </ngb-pagination>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns pt-0">
            <button mat-flat-button color="primary" matDialogClose="">OK</button>
        </mat-dialog-actions>
    </div>
</section>