.text_desc{
    color: #00847F;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;
}

i{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #00847F;
    padding-top: 20px;
}