<section class="popup_design min_w400">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
        <i class="fas fa-check-circle"></i>
          <p class="text_desc">{{deleteCount}} Customers</p>
          <h4 class="modal-title text-center"><strong>Deleted Successfully</strong></h4>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center b0 pb-3">
       <button type="button" class="btn btn-psb btn-psbpurple" matDialogClose="">Ok</button>
    </div>
</section>
 