<div class="popup_design max-500">
 
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
            <!-- <h3><img src="assets/images/Dashboard/hsbc_Logo.png" class="popup_hsbc_logo" alt="HSBC Bank Logo"></h3> -->
            <h3 class="">How to enable GST API consent</h3>
        </div>
        <!-- Modal-scroll -->
        <mat-dialog-content class="">
            <div class="popup_body">
                 <div class="__Common_Data_GroupView ReadInstructions">
                    <div class="__Common_texts">
                        <span>1</span>
                        <span class="Text_span"> Log in to government portal at <a class="rtr-link" href="https://services.gst.gov.in/services/login" target="_blank"
                                rel="noopener noreferrer">https://services.gst.gov.in/services/login</a></span>
                    </div>
                    <div class="__Common_texts">
                        <span>2</span>
                        <span class="Text_span">On the top-right corner, click on <strong>My Profile</strong></span>
                    </div>
                    <div class="__Common_texts">
                        <span>3</span>
                        <span class="Text_span">Click on <strong>Manage API Access</strong></span>
                    </div>
                    <div class="__Common_texts">
                        <span>4</span>
                        <span class="Text_span">Choose <strong>Yes</strong> under Enable API request.</span>
                    </div>
                    <div class="__Common_texts">
                        <span>5</span>
                        <span class="Text_span">Under Duration, choose 30 days</span>
                    </div>
                    <div class="__Common_texts">
                        <span>6</span>
                        <span class="Text_span">Click on <strong>Confirm</strong></span>
                    </div>
                </div> 
             </div>
        </mat-dialog-content>
    </div>
</div>