
.large_box{
    width: 70% !important; 
}

.pie_chart_box{
    width: 30% !important;
}


.chart_lagend_box{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    li{
        display: flex;
        justify-content: space-between;
        background: #F3F5F7;
        border-radius: 8px;
        padding: 10px;
        margin-top: 5px;
        padding: 10px 15px 10px 30px;
        position: relative;
        border: 2px solid transparent;
        &::before{
            position: absolute;
            content: '';
            left: 12px;
            top: 28px;
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background: #DAE1E6E6;
        }
        &.competition_dot{
            &::before{
                background: #DAE1E6E6;
            }
        }
        &.multiple_dot{
            &::before{
                background: #94A3B8;
            }
        }
        &.red_dot{
            &::before{
                background: #32327F;
            }
        }
        &.active{ 
            &.competition_dot{
                border: 2px solid #DAE1E6E6;
                background: #F2F5F6;
            }
            &.multiple_dot{
                border: 2px solid #94A3B8;
                background:#F6F8FC;
            }
            &.red_dot{
                border: 2px solid #32327F;
                background:#FFF5F6;
            }
        }
        .legend_text{
            display: flex;
                flex-direction: column;
                color: #333333;
                font-size: 14px;
                font-weight: 600;
            span{
                color: #333333;
                opacity: 0.5;
                font-size: 12px;
                font-weight: 400;
             }
            &+.legend_text{
                text-align: right;
            }
        }

    }
} 

.subloaderShowing{
  height: 50vh;
  overflow: hidden;
}
.table_sep_loader .loaderoverlay{
    z-index: 999999;
}

.parent_table_loader{
  height: 60vh;
  overflow: hidden;
}
 
.btn_text_td{
    display: flex;
    align-items: center;
}
