<div class="commonDesign_page applicationForm_Design mb-5">
    <div class="commonDesign_wrapper">
        <mat-card appearance="outlined" class="common_Details_box ">
            <mat-card-title class="text-center p-3">
                <h1>Privacy Policy</h1>
            </mat-card-title>
            <mat-card-content class="pb-5">
                <h3>Privacy Commitment</h3>
                <p>Punjab National Bank recognizes your need for privacy and security as you visit our website. By maintaining our commitment to your privacy, we at Punjab National Bank will ensure that we respect the inherent trust that you place in us.</p>
  
                <h3>Privacy Notice</h3>
                <p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy
                    to find, we make it available on our home page and at every point where personally identifiable information may be requested.</p>
                <p>This notice applies to all information collected from or submitted to the BANK website.</p>
  
                <h3>Definitions</h3>
                <p>In this document the following words and phrases have the meaning set opposite them unless the context indicates otherwise:</p>
                <p>BANK refers to Punjab National Bank, its successors and assigns, a body corporate constituted in India under the Banking Companies (Acquisition and Transfer of Undertakings) Act No. 5 of 1970 and having its Head Office at 7, Bhikhaiji
                    Cama Place, New Delhi 110066.</p>
                <p>WEBSITE means website of the Bank with URL: <a href="https://instaloans.pnbindia.in">https://instaloans.pnbindia.in</a></p>
                <p>USER refers to a customer of the BANK authorised to use online loan Services by using or accessing Internet.</p>
                <p>PERSONAL INFORMATION refers to the information about the USER obtained in connection with the online loan Services.</p>
                <p>PRIVACY POLICY refers to privacy commitment of the BANK via-a-vis its online loan Services as specified in this document.</p>
  
                <h3>Who is covered by This Policy?</h3>
                <p>All users who visit the website <a href="https://instaloans.pnbindia.in">https://instaloans.pnbindia.in</a> and provide information to the BANK online are covered under this Policy.</p>
  
                <h3>Information Covered by This Policy</h3>
                <p>This Policy seeks to cover personal information of the Users provided to BANK online as also any information collected by the bank server from the users browser.</p>
  
                <h3>The Information We Collect</h3>
                <p>BANK respects the privacy and security of its users. Our goal is to provide you with banking services that are most relevant and helpful to you. In order to achieve this goal, we sometimes collect information during your visits to understand
                    what differentiates you from each of our millions of other users.</p>
                <p>The personal information you provide to us when using our website will be kept confidential and used to support your customer relationship with BANK. It also may be used to notify you of special offers, updated information and new products
                    and services from the BANK.</p>
                <p>Children below the age of 18 years are not eligible to become members or use any of the online services offered by BANK. We request that children below the age of 18 years not to submit any personal information to us.</p>
                <p>We do not use cookies on our web site. A cookie is a data file that certain Web sites write to your computer's hard drive when you visit such sites. A cookie file can contain information such as a user identification code that the site
                    uses to track the pages you have visited and use the information commercially.</p>
                <p>BANK will limit the collection and use of user information only on a need-to-know basis to deliver better products and/or service to the users.</p>
  
                <h3>Why We Collect Information?</h3>
                <p>BANK collects your personal information to carry out and administer its services to you. Without such information the Bank may be unable to establish or continue banking facilities or provide banking services over Internet.</p>
                <p>The Information we collect helps us in meeting the disclosure requirements of any law binding on the Bank or any of its branches and further to fulfil any other purposes relating thereto.</p>
                <p>BANK endeavours to safeguard and ensure the security of the information provided by the Customer.</p>
  
                <h3>How We Use Information?</h3>
                <p>BANK does track certain information about the visits to our website. We compile statistics that show the numbers and frequency of users to our website and its individual pages. These aggregated statistics are used internally to improve
                    the web site content and services in general.</p>
                <p>We will communicate with users via email or other online/offline delivery devices only if the customer agrees to receive those communications. Customers, who believe that they are receiving our communications in error or no longer desire
                    to receive them, should inform us and we will remove that customer’s name from our mailing lists.</p>
  
                <h3>How We Protect Your Information?</h3>
                <p>BANK adopts strict standards of security and confidentiality in maintaining personal information of users. We permit only authorized employees or individuals, who have been trained in proper handling of user information, to have access
                    to your information.</p>
                <p>BANK endeavours to safeguard and ensure the security of the information provided by the user. Information provided by you on BANK’s web site is encrypted or scrambled in order to secure information. BANK uses 128-bit encryption, for the
                    transmission of the information, which is currently the permitted level of encryption in India. When the information provided by the users is not transmitted through this encryption, the users' system (if configured accordingly) will
                    display an appropriate message ensuring the best level of secrecy for the users' information. When a user provides sensitive information such as user ids, passwords etc, it will be automatically converted into codes before being securely
                    dispatched over the Internet.</p>
                <p>You are requested to cooperate with BANK in order to ensure the security of the personal information, and it is recommended that you should follow the security procedures/ guidelines/tips available of BANK’s website from time-to-time.</p>
                <p>BANK will take all appropriate steps to keep your personal information confidential. The steps include: only work related limited access to user information databases, communicating this policy statement to all BANK employees and/or individuals
                    engaged in management and operations of online loan Services and establishing and enforcing strict disciplinary processes for violating this statement.</p>
                <p>BANK use firewalls, Intrusion prevention system (IPS) and routers to create a "doorway" between the Internet and our internal computer network. This doorway restricts access to our internal computer network. Data transmissions that are
                    sent through our firewall and routers to our internal computer network are subject to verification by the firewalls and routers. We are able, thus, to control the data transmissions that gain access to our internal computer network.</p>
                <p>Whenever we hire other organizations to provide support services, we will require them to conform to our privacy standards.</p>
                <p>The privacy and protection of your personal information is vitally important to us. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. Accordingly, despite our efforts to protect your personal information,
                    we at BANK cannot ensure or warrant the security of any information you transmit to us. You transmit all such information at your own risk. However, once we receive your transmission, we make our best effort to ensure its security
                    on our systems.</p>
                <p>BANK will not willfully disclose any personal information about its users to any third party without first receiving that user’s consent. BANK may disclose personal information when we believe in good faith that the law requires it or
                    to protect the rights, property or interests of BANK.</p>
                <p>BANK is strongly committed to protecting the privacy of its users and has taken all necessary and reasonable measures to protect the confidentiality of the user’s personal information and its transmission through the Internet or world
                    wide web and it shall not be held liable for disclosure of the confidential information when in accordance with this Privacy Policy or in terms of the agreements, if any, with the users.</p>
                <p>BANK pledges its intention fully to meet and comply with the requirements of applicable data protection / privacy laws and guidelines in India.</p>
  
  
                <h3>With whom we may Share Information</h3>
                <p>Information held by the Bank relating to a customer will be kept confidential but the Bank may provide or share such information in following cases and/or circumstances:</p>
                <ul class="ul_dotStyle">
                    <li>To conform to legal requirements or comply with legal process.</li>
                    <li>To protect and defend BANK’s or its Affiliates' rights, interests or property.</li>
                    <li>To enforce the terms and conditions of the products and/or services.</li>
                    <li>To act to protect the interests of BANK, its Affiliates, or its members, constituents or of other persons.</li>
                    <li>To any agent, contractor or third party service provider who provides administrative, telecommunications, computer, payment or securities clearing, credit bureaus or other services to the BANK in connection with the operation of its
                        business.
                    </li>
                    <li>To any other person under a duty of confidentiality to the BANK including a group company of the BANK which has undertaken to keep such information confidential.</li>
                </ul>
                <p>The customer hereby grants his consent to the BANK to use, disclosure or sharing of this aforesaid information at the discretion of the BANK and shall not hold BANK liable for such use, disclosure or sharing of information.</p>
  
                <h3>Third Party Websites</h3>
                <p>Please note that this Privacy Statement does not extend to third party sites linked to this website.</p>
  
                <h3>Amendments</h3>
                <p>Privacy policy is subject to change periodically. BANK reserves the right to modify sections of this Privacy Statement at any time. Please check this statement from time to time for any changes.</p>
            </mat-card-content>
        </mat-card>
    </div>
  </div>