<div class="container-fluid HSBC_Common_Pages designUpdate_page">
    <div class="__main_Container">
        <div class="searchBox_section withpageTitle_Sec"
            style="background-image: url(assets/images/Dashabord/searchBox_bg.jpg);">
            <h2>Bank Statement Analysis</h2>
            <div class="searchBox_design">
                <form class="searchBox_Form" autocomplete="off" [formGroup]="panForm">
                    <div class="searchBox_input">
                        <div class="input_field">
                            <mat-form-field appearance="outline">
                                <mat-label>Enter PAN</mat-label>
                                <input matInput placeholder="Enter PAN" required formControlName="pan"
                                    [readonly]="isExistingPanFound">
                                <mat-error *ngIf="panForm.controls['pan'].hasError('pattern')">
                                    Invalid PAN
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="searchBox_btn">
                        <button type="submit" mat-flat-button color="primary"
                            [disabled]="!panForm.valid || isExistingPanFound" (click)="verifyPan();">Verify PAN</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="page_Details ">
            @if(panVerified){
            <div class="page_Title_sec">
                <div class="page_Title_left">
                    @if (!isExistingPanFound) {
                    <h4>
                        Bank Statement Analysis History
                    </h4>
                    }@else if(isExistingPanFound) {
                    <h4 class="cursor_pointer" (click)="navigateToViewComponent(pan)">
                        <em class="fa fa-arrow-left mr-2"></em>
                        Bank Statement Analysis History
                    </h4>
                    }
                </div>
                <div class="page_Title_Right">
                    <button mat-flat-button color="primary" class="" (click)="onRefresh()">
                        <i class="fas fa-sync-alt mr-1"></i> Refresh</button>
                </div>
            </div>
            <mat-card class="box_design">
                <div class="box_design_details p-0">
                    <div class="table-responsive">
                        <table
                            class="CommonTable_NP CommonNP_BGR0 GSTListTable Mobile_table_View_NP design_Main_listTable">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr.No</th>
                                    <th>Account Holder Name</th>
                                    <th>Bank Name</th>
                                    <th>Account Number</th>
                                    <th>Reference Id</th>
                                    <th>RM Name</th>
                                    <th>Date Of Report</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="Mobile_View_Filter_Hide_NP filter_tr" [formGroup]="searchForm">
                                    <td></td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Enter Account Holder Name"
                                                    formControlName="accountHolderName" name="accountHolderName">
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Enter Bank Name" formControlName="bankName"
                                                    name="bankName">
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Enter Account Number"
                                                    formControlName="accountNumber" name="accountNumber">
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Enter Reference Id" formControlName="bsId"
                                                    name="bsId">
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Enter RM Name" formControlName="rmName"
                                                    name="rmName">
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td>
                                        <fieldset class="NP_HSBC_ComInput">
                                            <mat-form-field appearance="outline">
                                                <input matInput placeholder="Select Date" [matDatepicker]="picker1"
                                                    formControlName="dateOfReport" [max]="today">
                                                <mat-datepicker-toggle matSuffix
                                                    [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </fieldset>
                                    </td>
                                    <td></td>
                                </tr>
                                @if(bankStatementHistories?.length>0){
                                @for (bankStatementHistory of bankStatementHistories; track $index;) {
                                <tr>
                                    <td data-label="Sr.No" class="text-center">{{(page-1)*pageSize+($index+1)}}</td>
                                    <td data-label="Account Holder Name">{{bankStatementHistory.accountHolderName}}</td>
                                    <td data-label="Bank Name">{{bankStatementHistory.bankName}}</td>
                                    <td data-label="Account Number">{{bankStatementHistory.accountNumber}}</td>
                                    <td data-label="Reference Id">{{bankStatementHistory.bsId}}</td>
                                    <td data-label="RM Name">{{bankStatementHistory.rmName}}</td>
                                    <td data-label="Date Of Report">
                                        {{bankStatementHistory.dateOfReport | date:'d MMM,y'}}</td>
                                    <td data-label="Action">
                                        <button [placement]="['left', 'right','auto']" ngbTooltip="View" mat-icon-button
                                            class="matIcon skyblue_icn" (click)="navigateToView(bankStatementHistory)">
                                            <em class="fa fa-eye"></em>
                                            <!-- <mat-icon [svgIcon]="'visibility_Icon'"></mat-icon> -->
                                        </button>
                                        <button [placement]="['left', 'right','auto']" ngbTooltip="Audit"
                                            mat-icon-button class="matIcon grey_icn" *ngIf="isActionAvail(constants.PageActions.AUDIT)"
                                            (click)="viewAuditPage(bankStatementHistory.bsId)">
                                            <mat-icon [svgIcon]="'fileSearch_Icon'"></mat-icon>
                                        </button>
                                    </td>
                                </tr>
                                }
                                } @else {
                                <tr>
                                    <td colspan="10">
                                        <app-no-data-found message="No previous history found" />
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-table NP_LeftPagintion mt_mb_20px">
                        <div class="dataTables_info" id="tickets-table_info" role="status" aria-live="polite">
                            Showing
                            {{(startIndex+1)}} to
                            {{(pageSize*page) > (totalSize) ? (totalSize) : (pageSize*page)}} of
                            {{totalSize}} rows
                            <div class="dataTables_length" id="tickets-table_length">
                                <div class="NP_HSBC_ComInput select-field">
                                    <mat-form-field appearance="outline">
                                        <mat-select [(ngModel)]="pageSize" [panelClass]="'pagination_select'"
                                            (ngModelChange)="onPageChange(page)">
                                            <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                {{pages.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <span>row per page</span>
                        </div>
                        <div class="text-md-right float-md-right pagination-rounded">
                            <ul class="pagiation pagination-rounded psb-flex-end m-0 pl-0">
                                <ngb-pagination [collectionSize]="totalSize" [maxSize]="3" [(page)]="page"
                                    [rotate]="true" [boundaryLinks]="true" [pageSize]="pageSize"
                                    (pageChange)="onPageChange($event)">
                                </ngb-pagination>
                            </ul>
                        </div>
                    </div>
                </div>
            </mat-card>
            }
        </div>
    </div>
</div>