 
.Border_0_width_100 {
    border: 0 !important;
    width: 100% !important;
}

.tr_dynamic_MK {
    font-size: 1.3rem;
    color: #6c757d;
    font-weight: 600;
    margin: 10px 15px;
}

.centered-header {
    text-align: center !important;
}