<div class="popup_design max-600 warning_popup">
    <a class="modal_closeicn_btn" href="javascript:void(0)"><mat-icon class="material-symbols-outlined"
            matDialogClose="" cdkFocusInitial>close</mat-icon></a>
    <div class="pop_up_container">
        <mat-dialog-content>
            <div class="popup_body text-center ">
                <div class="lottie_icn">
                    <lottie-player class="__HSBC_lotties_Not" src="../assets/images/Json/warning_lottie.json"
                        background="transparent" speed="1" loop autoplay></lottie-player>
                </div>
                <h3 class="max-w-100">Last Bureau Report For This Customer Fetched On {{lastReportFetchDate}}</h3>
                <p class="max-w-100">Note: System will have auto Bureau refresh every 2 months. Cost per report is INR 1000/-. Bureau report should be fetched only if critical or required for regulatory compliances.</p>
                <p class="max-w-100 mt-2"><b>Please confirm if you still want to proceed?</b></p>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns">
            <button mat-stroked-button color="primary" matDialogClose="close" (click)="onNo()">No</button>
            <button mat-flat-button color="primary" matDialogClose="close" (click)="onYes()">OK</button>
        </mat-dialog-actions>
    </div>
</div>