.radio_top{
    display: flex;
    margin: -10px 0 10px 0;
}

.files-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .file_list{
        margin: 0;
    }
}
.number_list{
    font-size: 14px;   
    color: #000;
}

.suess_text{
    font-size: 14px;
    font-weight: 600;
}

.singlefile_View{
    border: 1px solid #d7d8d6;
    border-radius: 8px;
}

.max-h-300{
    max-height: 250px !important;
}

.vrt-9{
    vertical-align: -9px;
    margin-left: 2px;
}

.upload_top_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.clickable {
  cursor: pointer;
}