<div class="container-fluid HSBC_Common_Pages">
    <div class="__main_Container">
      <form class="NP_Form" [formGroup]="bulkUploadDetailsForm" autocomplete="off">
        <div class="page_Title_sec ">
          <div class="page_Title_left w-auto">
            <h4 class="cursor_pointer">
              Pre Screen Data Upload
            </h4>
          </div>
  
          <div class="page_Title_Right d-flex">
            <div class="input_field" >
              <mat-form-field appearance="outline" class="w-200px mr-2">
                <mat-label>Download Customers</mat-label>
                <mat-select placeholder="Download Input File">
                    <mat-option (click)="downloadAllCustomerPreScreenExcel()" value="0">Download All Customer</mat-option>
                    <mat-option (click)="UploadCustomer_popup()" value="1">Download Selected Customer</mat-option>
                </mat-select>
            </mat-form-field>  
                <mat-form-field appearance="outline" class="w-200px mr-2">
                  <mat-label>Module</mat-label>
                  <mat-select placeholder="Download Input File" formControlName="selectedModule" (selectionChange)="onInputFileTypeChange($event)">
                      <mat-option value="0">Pre Screen Data File</mat-option>
                      <mat-option value="1">Pre Screen Status File</mat-option>
                  </mat-select>
              </mat-form-field>  
            <!-- <mat-form-field appearance="outline" class="w-200px mr-2" *ngIf="!isFullPreScreen"> -->
            <mat-form-field appearance="outline" class="w-200px mr-2">
              <mat-label>Select File ID</mat-label>
              <mat-select placeholder="Select File ID" formControlName="selectedFileId" (selectionChange)="onFileTypeChange($event)" panelClass="max-h-150">
                  <mat-option *ngFor="let data of fileIdList;let i=index;" [value]="i">{{data}}</mat-option>
              </mat-select>
          </mat-form-field> 
      </div>
            <a type="button" (click)="downloadPreScreenExcel()" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_ALL_PRE_SCREEN_DATA)"
                     mat-flat-button class="btn_design with_right_icn" color="secondary"  download [disabled] = "isDownloadingPreScreen"><span *ngIf="!isDownloadingPreScreen">Download All Pre Screen Data</span><mat-icon
                      class="ml-2 mr-0" [ngClass]="{'arro_up_down': isDownloadingPreScreen}">arrow_downward_alt</mat-icon>
                      <div class="animated_download" *ngIf="isDownloadingPreScreen">
                        Downloading File <div class="dot-pulse"></div>
                    </div>
                    </a>
           <!-- @if (requestType === 'Data') {
            <a type="button" mat-flat-button class="btn_design with_right_icn ml-2" color="secondary"
            href="assets/files/PRE_SCREEN_DATA_UPLOAD_TEMPLATE.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">Download Template<mat-icon
           class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>
          } @else {
            <a type="button" mat-flat-button class="btn_design with_right_icn ml-2" color="secondary"
            href="assets/files/MRN_AND_STATUS.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">Download Template<mat-icon
           class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>
          } -->
          

          </div>
        </div>
        <div class="page_Details">
          <div class="box_design mb-3 p-3">
            <div class="upload_top_content">
              <mat-radio-group class="radio_top" formControlName="selectedFileType" (change)="onSelectionChange($event)">
                <mat-radio-button value="2">Full Pre Screen Data</mat-radio-button>
                <mat-radio-button value="1" class="ml-2">Part Pre Screen Data</mat-radio-button>
                </mat-radio-group>
  
                <div class="right_side">
                  <a type="button" mat-flat-button class="btn_design with_right_icn ml-2" color="secondary"
                  href="assets/files/PRE_SCREEN_DATA_UPLOAD_TEMPLATE.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">PRE SCREEN DATA UPLOAD Template<mat-icon
                 class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>
                 
                 <a type="button" mat-flat-button class="btn_design with_right_icn ml-2" color="secondary"
                 href="assets/files/MRN_AND_STATUS.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">Mrn-Status Template<mat-icon
                class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>
                </div>
            </div>

            <div class="NP_Com_Group">
              <div class="dragDrop-Common" appDragDrop>
                <!-- <div class="files-list" *ngIf="files.length > 0">
                  <div class="single-file" *ngFor="let file of files; let i = index">
                    <div class="File-Progress">
                      <div class="file-icon">
                        <img src="assets/images/hsbc/FileUpload_Icon.svg" alt="File Icon">
                      </div>
                      <div class="info">
                        <h4 class="name">
                          {{ file?.name }}
                        </h4>
                      </div>
                      <div class="delete" (click)="deleteFile(i)">
                        <em class="fmdi fmdi-delete IC-red mr-2"></em> Remove
                      </div>
                    </div>
                    <mat-progress-bar class="Progreebar-File" mode="determinate" value="{{file.progress}}" [max]="100">
                    </mat-progress-bar>
                  </div>
                </div> -->
               <div class="Input-text-Fill-Cutome">
                  <input class="File-input-common" type="file"
                         accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                         #fileDropRef id="fileUpload" name="fileUpload" 
                         (change)="fileBrowseHandler($event.target.files)" required multiple (click)="clearInput($event)"/>
                  <div class="Input-text-File">
                    <span class="file-upload-icon"><mat-icon>arrow_upward_alt</mat-icon> Upload files</span>
                    <p class="Drop-text-common" for="fileDropRef"><span>Browse</span> file or drag and drop <br /> XLSX
                    </p>
                  </div>
                </div>
  
              </div>
              <div class="__Btn_Group __MT15px __JcEnd">
                <button mat-stroked-button color="secondary" class="btn_design"
                        (click)="Read_Instruction_BulkUpload_popup()" disabled><mat-icon>info</mat-icon> Read
                  Instructions </button>
                <!-- (click)="Read_Instruction_BulkUpload_popup()" -->
                <button mat-stroked-button color="primary" class="btn_design" *ngIf="isActionAvail(constants.PageActions.UPLOAD)"
                        (click)='submit()'><mat-icon>arrow_upward_alt</mat-icon> Upload File</button>
              </div>
            </div>
            <mat-card class="box_design b0 bx_none mt-3" *ngIf="files.length > 0">
              <div class="files-list">
                  <h2 class="file_list">PR Data File <span class="bedge">{{files.length}}</span> <span class="green_text suess_text ml-2"><i class="fas fa-check-circle mr-1"></i>{{files[0]?.name || "NA"}}</span></h2>
                  <div class="right_side">                    
                  </div>
              </div>
              <div class="files_list_Grp tableResponsive">
                  <div class="singlefile_View" *ngFor="let file of files; let i = index">
                      <div class="fileProgress">
                          <div class="FileName_IconUpload">
                              <span class="number_list">{{i+1}}</span>
                              <div class="file_Icon green_text">
                                  <mat-icon>description</mat-icon>
                                  </div>
                              <div class="info">
                                  <h4 class="fileName mb-1">
                                      {{ file?.name }}
                                  </h4>
                                  <div class="Progreebar">
                                      <mat-progress-bar class="Progreebar-File" value="{{file.progress}}" [max]="100"></mat-progress-bar>
                                  </div>
                               </div>
                              <!-- <p class="file_status" *ngIf="file.progress !== 100">uploading...</p> -->
                              <div class="delete_Icon">
                                  <mat-icon class="primary" class="lightGreentxt">check_circle</mat-icon>
                                  <mat-icon class="blckTxt" (click)="deleteFile(i)">cancel</mat-icon>
                               </div>
                          </div>
                      </div>
                  </div>
              </div>
          </mat-card>
          </div>
         
          
          <div class="box_design mt-3" >
            <div class="box_design_ttl_bar">
              <div class="box_design_ttl_bar_left">
                <h4>Pre Screen Upload Status</h4>
              </div>
            </div>
            <div class="box_design_details p-0">
              <div class="tableResponsive" appTableScroll>
                <table class="CommonTable_NP NP_BGBHSBC Mobile_table_View_NP no_stripe_borderX_table CommonTable_Scroll">
                  <thead>
                    <tr class="tr_lightred_bg">
                      <th width="6.5%">Sr. No.</th>
                      <th>File Name</th>
                      <th>File Id</th>
                      <th>Created By</th>
                      <th>Download Status</th>
                      <th>Input Download Date</th>
                      <th>File Upload Date</th>
                      <th class="text-right">Successful Entries</th>
                      <th class="text-right">Error</th>
                      <th class="text-right">No-Hit Cases</th>
                      <th class="text-right">Data Not Received</th>
                      <th class="text-right">Total Customer</th>
                      <th>Upload Status Action</th>
                      <!-- <th class="text-left">Revert Field</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let historyData of bulkUploadHistory; let i=index">
                      <tr>
                        <td><button mat-icon-button class="matIcon red_icn mr-2" (click)="toggleCollapse(historyData?.fileId)" [ngClass]="{'rotate_icon': !collapsedMap[historyData?.fileId]}">
                          <i class="fas fa-chevron-down"></i></button>{{ startIndex + i +1 }}</td>
                        <td>{{historyData?.fileName || "-"}}</td>
                        <td>{{historyData?.fileId || "-"}}</td>
                        <td>{{historyData?.userName || "-"}}</td>
                        <td><span [ngClass]="{'orange_badge': historyData?.status === 'Pending',
                                          'green_badge': historyData?.status === 'Complete',
                                          'lightred_badge': historyData?.status === 'Failed',}" [ngbTooltip]="historyData?.status === 'Failed' ? historyData?.fileUploadFailureReason : null">{{historyData?.status}}</span></td>
                         <td>{{historyData?.createdDate | date:'dd MMM yyyy hh:mm:ss'}}</td>
                          <td>{{historyData?.fileUploadDate | date:'dd MMM yyyy hh:mm:ss'}}</td>
                        <td data-label="Successful Entries" class="text-right">{{historyData?.successPan}} <a
                          class="ml-1" href="javscript:void(0)" (click)="downloadErrorAndNoHits(1,historyData?.fileId)"><i
                          class="fas fa-download green_text" alt="Successful Entries" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_SUCCESS_ENTRY)"></i></a></td>
                        <td class="text-right">{{historyData?.error}} <a class="ml-1" (click)="downloadErrorAndNoHits(2, historyData?.fileId); $event.preventDefault();">
                            <i class="fas fa-download blue_text"></i>
                            </a>
                        </td>
                        <td class="text-right">
                            {{historyData?.noHit}} 
                            <a class="ml-1" href="#" (click)="downloadErrorAndNoHits(3, historyData?.fileId); $event.preventDefault()">
                              <i class="fas fa-download yellow_text"></i>
                            </a>
                        </td>
                        <td class="text-right">
                            {{historyData?.dataNotRecevied}} 
                            <a class="ml-1" href="#" (click)="downloadErrorAndNoHits(4, historyData?.fileId); $event.preventDefault()">
                              <i class="fas fa-download grey_l_text"></i>
                            </a>
                        </td>
                          <!-- <td class="text-right">{{historyData?.error}} <a class="ml-1" href=""><i class="fas fa-download blue_text"></i></a></td>
                        <td class="text-right">{{historyData?.noHit}} <a class="ml-1" href=""><i class="fas fa-download yellow_text"></i></a></td>
                        <td class="text-right">{{historyData?.dataNotReceived}} <a class="ml-1" href=""><i class="fas fa-download grey_l_text"></i></a></td> -->
                        <td class="text-right"> 
                            {{historyData?.totalCustomer}} 
                            <a class="ml-1" href="#" (click)="downloadErrorAndNoHits(5, historyData?.fileId); $event.preventDefault()">
                              <i class="fas fa-download grey_l_text"></i>
                            </a>
                        </td> 
                        <td><span class="green_badge"  [ngClass]="{'green_badge': true, 'clickable': historyData?.fileIdStatus === 'Pending', 'disabled': historyData?.fileIdStatus !== 'Pending' }" (click)="Mark_popup(historyData?.fileId, false)">Mark File ID Complete<i *ngIf="historyData?.fileIdStatus !== 'Pending'" class="fas fa-check-circle ml-1"></i></span></td>
                          <!-- <mat-icon color="warn" class="blue_text" (click)="uploadStatusChange(historyData?.fileId, true)" ngbTooltip="Revert">refresh</mat-icon> -->
                        <!-- <td><button mat-icon-button color="warn" (click)="uploadStatusChange(historyData?.fileId, true)" ngbTooltip="Revert"><mat-icon>refresh</mat-icon></button></td> -->
                      </tr>
                      <!-- <tr *ngIf="openedRowIndex === i && prBulkUploadHistory.length>0"> -->
                      <tr *ngIf="historyData?.customerBulkUploadMasterList && historyData?.customerBulkUploadMasterList?.length > 0" class="collapsing_tr" [ngbCollapse]="!collapsedMap[historyData?.fileId]">
                        <td colspan="15">
                          <div class="box_design">
                            <div div class="tableResponsive inside_table max-h-300" appTableScroll>
                              <table class="w-100">
                                <thead>
                                  <tr>
                                    <th width="5%">Sr. No.</th>
                                    <th>File Name</th>
                                    <th>File Type</th>
                                    <th>Uploaded On</th>
                                    <th>Uploaded By</th>
                                    <th>Status</th>
                                    <th class="text-right">Successful Entries</th>
                                    <th class="text-right">Failed Entries</th>
                                    <th class="text-right pr-3">Total Entries</th>
                                  </tr>
                                </thead>
                                <tbody class="subtable-container">
                                  <tr *ngFor="let data of historyData?.customerBulkUploadMasterList; let j = index">
                                    <td>{{ j + 1 }}</td>
                                    <td>{{ data?.fileName }}</td>
                                    <td>{{ data?.psFileType }}</td>
                                    <td>{{ data?.createdDate | date:'dd MMM yyyy hh:mm:ss' }}</td>
                                    <td>{{ data?.userName }}</td>
                                    <td>
                                      <span [ngClass]="{
                                          'orange_badge': data?.status === 'Pending',
                                          'green_badge': data?.status === 'Complete',
                                          'lightred_badge': data?.status === 'Failed'}" [ngbTooltip]="data?.status === 'Failed' ? data?.fileUploadFailureReason : null">{{ data?.status }}</span>
                                    </td>
                                    <td data-label="Successful Entries" class="text-right">{{data?.success}} <a
                                      href="javscript:void(0)" (click)="getDataForMainPrescreen(1,data)"><i
                                      class="fas fa-download green_text cursor_pointer ml-1" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_SUCCESS_ENTRY)"></i></a></td>
                                    <td data-label="Failed Entries" class="text-right">{{data?.fail}} <a
                                      href="javscript:void(0)" (click)="getDataForMainPrescreen(2,data)"><i
                                      class="fas fa-download blue_text cursor_pointer ml-1" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_FAIL_ENTRY)"></i></a></td>
                                      <!-- <td class="text-right">{{ data?.fail }}</td> -->
                                    <td data-label="Total Entries" class="text-right">{{data?.totalRows}} <a
                                      href="javscript:void(0)" (click)="getDataForMainPrescreen(3,data)"><i
                                      class="fas fa-download grey_l_text cursor_pointer ml-1" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TOTAL_ENTRY)"></i></a></td>
                                    <!-- <td class="text-right pr-3">{{ data?.totalRows }}</td> -->
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </td>
                      </tr>
                      </ng-container>
                  </tbody>
                </table>
              </div>
            </div> 
            <div class="pagination-table NP_LeftPagintion">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  Showing
                  {{(startIndex+1)}} to
                  {{(pageSize*page) > (totalSize) ? (totalSize) : (pageSize*page)}} of
                  {{totalSize}}
                  row 
                  <div class="dataTables_length" id="tickets-table_length">
                    <div class="NP_HSBC_ComInput select-field">
                      <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="pageSize" id="pagesizee" #pagesizee [panelClass]="'pagination_select'"
                          (valueChange)="pageSizeChange(pagesizee.value,page)" (ngModelChange)="onChangePage(page);" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                            {{pages.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">

                  <ul class="pagiation pagination-rounded psb-flex-end my-2">
                    <ngb-pagination [collectionSize]="totalSize" [maxSize]="3" [(page)]="page" [rotate]="true"
                      [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onChangePage($event)">
                    </ngb-pagination>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  