<div class="container-fluid HSBC_Common_Pages">
    <div class="__main_Container">
      <form class="NP_Form">
        <div class="page_Title_sec">
          <div class="page_Title_left">
            <h4 class="cursor_pointer">
            New GCC Upload
            </h4>

          </div>

          <div class="page_Title_Right">
            <a type="button" mat-flat-button class="btn_design with_right_icn" color="secondary"
              href="assets/files/New GCC Announcements bulk upload sample.xlsx" download  >Download Template<mat-icon class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>
          </div>
        </div>
        <div class="page_Details">

          <div class="box_design mb-3 p-3">

            <div class="NP_Com_Group">
              <div class="dragDrop-Common" appDragDrop>
                <div class="files-list" *ngIf="files.length > 0">
                  <div class="single-file" *ngFor="let file of files; let i = index">
                    <div class="File-Progress">
                      <div class="file-icon">
                        <img src="assets/images/hsbc/FileUpload_Icon.svg" alt="File Icon">
                      </div>
                      <div class="info">
                        <h4 class="name">
                          {{ file?.name }}
                        </h4>
                      </div>
                      <div class="delete" (click)="deleteFile(i)">
                        <em class="fmdi fmdi-delete IC-red mr-2"></em> Remove
                      </div>
                    </div>
                    <mat-progress-bar class="Progreebar-File" mode="determinate" value="{{file.progress}}" [max]="100">
                    </mat-progress-bar>
                  </div>
                </div>
                <div class="Input-text-Fill-Cutome" *ngIf="files.length == 0">
                  <input class="File-input-common" type="file"
                    accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    #fileDropRef id="fileUpload" name="fileUpload" formControlName="fileUpload"
                    (change)="fileBrowseHandler($event.target.files)" required />
                  <div class="Input-text-File">
                    <span class="file-upload-icon"><mat-icon>arrow_upward_alt</mat-icon> Upload file</span>
                    <p class="Drop-text-common" for="fileDropRef"><span>Browse</span> file or drag and drop <br />CSV or
                      XLS or XLSX
                    </p>
                  </div>
                </div>
                <div class="__Btn_Group __MT15px __JcEnd">
                  <button mat-stroked-button color="primary" class="btn_design" (click)="uploadFile()">
                    <mat-icon>arrow_upward_alt</mat-icon> Upload File </button>
                </div>
              </div>
            </div>
          </div>

          <div class="box_design">
            <div class="box_design_ttl_bar">
              <div class="box_design_ttl_bar_left">
                <h4>File Uploads History</h4>
              </div>
              <!-- <div class="box_design_ttl_bar_right">
                <button class="btn_design" mat-stroked-button color="primary">Filter<i
                    class="fa fa-sort-amount-down ml-2"></i></button>
              </div> -->
            </div>
            <div class="box_design_details p-0">
              <div class="tableResponsive" appTableScroll>
                <table class="CommonTable_Scroll NonBG_Table no_stripe_borderX_table rmExisitingPortfolio_list_table table_wrap no_sticky_table">
                  <thead>
                    <tr class="tr_lightred_bg">
                      <th width="5%">Sr. No.</th>
                      <th>File Name</th>
                      <th>Name</th>
                      <th>Uploaded On</th>
                      <th class="text-left">Successful Entries</th>
                      <th class="text-left">Failed Entries</th>
                      <th class="text-left">Total Entries</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if(fileHistoryList?.length>0){
                      @for(file of fileHistoryList; track $index){
                      <tr>
                        <td data-label="Sr.No" class="text-center">{{ ((newGccUploadPage-1)*newGccUploadPageSize)+($index+1) }}</td>
                        <td>{{file?.fileName || '-'}}</td>
                        <td>{{file?.createdByName || '-'}}</td>
                        <!-- <td>{{(file?.createdDate | date: 'dd/MMMM/yyyy' ) || '-'}}</td> -->
                        <td>{{(file?.createdDate || '-') | date:'dd MMM yyyy hh:mm:ss'}}</td>
                        <td class="text-left">{{file?.successFullEntries || 0}}
                          <a href="javscript:void(0)"> <img
                             src="assets/images/hsbc/S_Download_Icon.svg" alt="Successful Entries"
                             (click)="downloadByBucketRef(file?.successEntriesDocReference, file.successEntriesFileName,'xlsx')"></a>
                        <td class="text-left">{{file?.failedEntries || 0}}
                              <a href="javscript:void(0)"> <img
                                src="assets/images/hsbc/F_Download_Icon.svg" alt="Failed Entries"
                                 (click)="downloadByBucketRef(file?.failedEntriesDocReference, file.failedEntriesFileName,'xlsx')"></a>
                        <td class="text-left">{{file?.totalEntries || 0}}
                          <a href="javscript:void(0)"> <img
                            src="assets/images/hsbc/T_Download_Icon.svg" alt="Total Entries"
                             (click)="downloadByBucketRef(file?.docReference, file.totalEntriesFileName,'xlsx')"></a>
                        </td>
                      </tr>
                    }}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </form>
      @if(fileHistoryList?.length>0){
        <div class="pagination-table NP_LeftPagintion">
          <div class="pagination-table NP_LeftPagintion mt_mb_20px p-0 border-0">
            <div class="dataTables_info" id="tickets-table_info" role="status" aria-live="polite">
              Showing
              {{((newGccUploadPage-1)*newGccUploadPageSize+1)}} to
              {{newGccUploadStartIndex+newGccUploadPageSize> (newGccUploadTotalSize) ? (newGccUploadTotalSize) : (newGccUploadPage-1)*newGccUploadPageSize+newGccUploadPageSize}} of
              {{newGccUploadTotalSize}} rows
              <div class="dataTables_length" id="tickets-table_length">
                <div class="NP_HSBC_ComInput select-field">
                  <mat-form-field appearance="outline">
                    <mat-select [(ngModel)]="newGccUploadPageSize" #newGccupload [panelClass]="'pagination_select'"
                      (ngModelChange)="newGccPageSizeChange(newGccupload.value, newGccUploadPage)">
                       <mat-option *ngFor="let page of PageSelectNumber" [value]="page">
                        {{page}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <span class="grey_text">row per page</span>
            </div>
            <div class="text-md-right float-md-right pagination-rounded">
              <ul class="pagiation pagination-rounded psb-flex-end my-2">
                <ngb-pagination [collectionSize]="this.newGccUploadTotalSize" [maxSize]="3" [(page)]="newGccUploadPage" [rotate]="true"
                  [boundaryLinks]="true" [pageSize]="newGccUploadPageSize" (pageChange)="newGccOnPageChange($event)">
                </ngb-pagination>
              </ul>
            </div>
          </div>
        </div>
      }

    </div>
  </div>

