<div class="HSBC_No_Data_Found HSBCWithtxt_Found">
    <!-- Only For Local System -->
    <!-- <lottie-player class="__HSBC_lotties_Not" src="../../../../assets/images/Json/noFound.json" background="transparent" speed="1" loop autoplay></lottie-player> -->

    <!-- server For Local System -->
    <div class="data_file">
        <img class="__HSBC_lotties_Not" src="./assets/images/no_data_file.svg" />
    </div>

    <h4 class="HSBC_NoFound_h4">{{message ? message : "Oops! No record found"}}</h4>
</div>