.Input-text-File{
    i{
        color: #00847F;
        font-size: 35px;
    }
}

.file-u-icon{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.Input-text-Fill-Cutome{
    min-height: 12rem !important;
}