<section class="popup_design max-900 HSBC_Common_Pages pb-0">
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <!-- <div class="popup_header" mat-dialog-title>
            <h3>HSN Details</h3>
        </div> -->
        <mat-dialog-content class="px-0">
            <div class="popup_body">
                <mat-tab-group mat-align-tabs="start" class="tabs-design" [@.disabled]="true">
                    <mat-tab label="Export HSN">
                        <mat-card-content>
                            <div class="table_sec">
                                <div class="tableResponsive ">
                                    <table
                                        class="CommonTable_FixedScroll firstSrCols no_stripe_borderX_table compressed_table ">
                                        <thead>
                                            <tr class="tr_lightred_bg">
                                                <th>HSN Code</th>
                                                <th>HSN Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (exportHsn of exportHsnCodeList | slice: (exportHsnPage.page()-1) * exportHsnPage?.pageSize() :
                                             (exportHsnPage?.page()-1) * exportHsnPage?.pageSize() + exportHsnPage?.pageSize() ; track $index) {
                                                <tr>
                                                    <td data-label="HSN Code">{{exportHsn.code}}</td>
                                                    <td data-label="HSN Description">{{exportHsn.description}}
                                                    </td>
                                                </tr>
                                            } @empty {
                                                <tr>
                                                    <td colspan="2">
                                                        <app-no-data-found message="No record found" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination-table NP_LeftPagintion">
                                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                        Showing
                                        {{(exportHsnPage.startIndex()+1)}} to
                                        {{(exportHsnPage.pageSize()*exportHsnPage.page()) >
                                        (exportHsnPage.totalSize) ? (exportHsnPage.totalSize) :
                                        (exportHsnPage.pageSize()*exportHsnPage.page())}} of
                                        {{exportHsnPage.totalSize}} rows
                                        <div class="dataTables_length" id="tickets-table_length">
                                            <div class="NP_HSBC_ComInput select-field">
                                                <mat-form-field appearance="outline">
                                                    <mat-select [(ngModel)]="exportHsnPage.pageSize"
                                                        [panelClass]="'pagination_select'">
                                                        <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                            {{pages.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <span class="grey_text"> row per page</span>
                                    </div>
                                    <div class="text-md-right float-md-right pagination-rounded">
                                        <ul class="pagiation pagination-rounded psb-flex-end my-2">
                                            <ngb-pagination [collectionSize]="exportHsnPage.totalSize" [maxSize]="3"
                                                [(page)]="exportHsnPage.page" [rotate]="true" [boundaryLinks]="true"
                                                [pageSize]="exportHsnPage.pageSize()">
                                            </ngb-pagination>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-tab>
                    <mat-tab label="Import HSN">
                        <mat-card-content>
                            <div class="table_sec">
                                <div class="tableResponsive ">
                                    <table
                                        class="CommonTable_FixedScroll firstSrCols no_stripe_borderX_table compressed_table ">
                                        <thead>
                                            <tr class="tr_lightred_bg">
                                                <th>HSN Code</th>
                                                <th>HSN Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (importHsn of importHsnCodeList | slice: (importHsnPage.page()-1) * importHsnPage?.pageSize() :
                                                (importHsnPage?.page()-1) * importHsnPage?.pageSize() + importHsnPage?.pageSize() ; track $index) {
                                                <tr>
                                                    <td data-label="HSN Code">{{importHsn.code}}</td>
                                                    <td data-label="HSN Description">{{importHsn.description}}
                                                    </td>
                                                </tr>
                                            } @empty {
                                                <tr>
                                                    <td colspan="2">
                                                        <app-no-data-found message="No record found" />
                                                    </td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination-table NP_LeftPagintion">
                                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                        Showing
                                        {{(importHsnPage.startIndex()+1)}} to
                                        {{(importHsnPage.pageSize()*importHsnPage.page()) >
                                        (importHsnPage.totalSize) ? (importHsnPage.totalSize) :
                                        (importHsnPage.pageSize()*importHsnPage.page())}} of
                                        {{importHsnPage.totalSize}} rows
                                        <div class="dataTables_length" id="tickets-table_length">
                                            <div class="NP_HSBC_ComInput select-field">
                                                <mat-form-field appearance="outline">
                                                    <mat-select [(ngModel)]="importHsnPage.pageSize"
                                                        [panelClass]="'pagination_select'">
                                                        <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                            {{pages.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <span class="grey_text"> row per page</span>
                                    </div>
                                    <div class="text-md-right float-md-right pagination-rounded">
                                        <ul class="pagiation pagination-rounded psb-flex-end my-2">
                                            <ngb-pagination [collectionSize]="importHsnPage.totalSize" [maxSize]="3"
                                                [(page)]="importHsnPage.page" [rotate]="true" [boundaryLinks]="true"
                                                [pageSize]="importHsnPage.pageSize()">
                                            </ngb-pagination>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns pt-0">
            <button mat-flat-button color="primary" matDialogClose="">OK</button>
        </mat-dialog-actions>
    </div>
</section>