<footer class="footer">
  <div class="__main_Container">
    <div class="row align-items-center flex-direction-md">
      <div class="col-lg-5 psb-12">
        <div class="text-lg-left footer-links">
          <a href="javascript:void(0);" class="Copyright-1024">Copyright © HSBC Group. All rights reserved.</a>
          <!-- <div>
            <a href="javascript:void(0);">Need Help ?</a>
            <a href="tel:079-41055999"><img src="assets/images/Footer-img/Tel_phone.svg" alt="Phone" /> 079 -
              41055999</a>
          </div> -->
          <!-- <a href="mailto:banksupport@onlinepsbloans.com"><i class="fmdi fmdi-email"></i>
            banksupport@onlinepsbloans.com</a> -->
        </div>
      </div>
      <div class="col-lg-7 psb-12">
        <div class="text-lg-right footer-links">
          <a href="javascript:void(0);">Privacy Policy</a>
          <a href="javascript:void(0);">Terms & Conditions</a>
          <a href="javascript:void(0);">Disclaimer</a>
        </div>
      </div>
    </div>
  </div>
</footer>