.subloaderShowing{
    height: 30vh;
    overflow: hidden;
}

.parent_table_loader {
    height: 60vh;
    overflow: hidden;
}

.parent_loader {
    height: 60vh !important;
}

.child_loader {
    height: 30vh !important;
}