.title_box{
    padding: 0 20px 20px;
     h3{
        padding-bottom: 0 !important;
    }
}

.dwn_link{
    font-size: 14px;
    mat-icon{
        height: 20px;
        width: 20px;
        font-size: 20px;
        vertical-align: -5px;
    }
}


.pagination-table{
    border-top: 1px solid #D7D8D6;
}