<div class="modal-header d-block">
    <h4 class="modal-title">Experian - Commercial Status</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="Common-content-group">
          <div class="Common-text-group">
            <span>Commercial</span>
            <span>Active</span>
          </div>
          <div class="Common-text-group">
            <span>Time</span>
            <span>31 march 2012 03:15 AM</span>
          </div>
          <div class="Common-text-group">
            <span>Reason</span>
            <span>N.A.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"  class="btn btn-psb width-md btn-psbpurple"> okay </button>
  </div>
  