<div class="container-fluid HSBC_Common_Pages">
    <div class="__main_Container">
      <form class="NP_Form" [formGroup]="commCibilUploadDetailsForm" autocomplete="off">
        <div class="page_Title_sec">
          <div class="page_Title_left">
            <h4 class="cursor_pointer">
              Bank Portfolio Bulk Upload
            </h4>
             <a (click)="UniquePopup()"  mat-flat-button class="btn_design with_right_icn ml-2" color="secondary"  download >Unique ACC + IFSC</a>

          </div>

          <div class="page_Title_Right">
            <mat-radio-group formControlName="option" class="mr-2">
              <mat-radio-button value = '1'> Bank Portfolio</mat-radio-button>
              <mat-radio-button value = '2'> Opportunity Master</mat-radio-button>
            </mat-radio-group>
                <div *ngIf=" commCibilUploadDetailsForm.get('option')?.value === '1' " ngbDropdown container="body" class="dropdown d-inline">
                 <button type="submit" mat-flat-button ngbDropdownToggle color="primary"
                *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)"  download>Download Template <i class="fas fa-caret-down ml-2"></i></button>
              <div ngbDropdownMenu class="dropdown-menu NP_Drop_Hover download_template">
                          <a ngbDropdownItem href="assets/files/Debit_Template.csv">
                               Debit Template
                          </a>
                          <a ngbDropdownItem href="assets/files/Credit_Template.csv">
                            Credit Template
                          </a>
                  </div>
              </div>
            <a type="button" mat-flat-button class="btn_design with_right_icn" color="secondary"
               href="assets/files/Opportunity_Master_Template.xlsx" download
               *ngIf="commCibilUploadDetailsForm.get('option')?.value === '2'  &&  isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">Download
              Template
              <mat-icon
                class="ml-2 mr-0">arrow_downward_alt
              </mat-icon>
            </a>
          </div>
        </div>
        <div class="page_Details">
          <div class="box_design mb-3 p-3">

            <div class="NP_Com_Group">
              <div class="dragDrop-Common" appDragDrop>
                <div class="Input-text-Fill-Cutome">
                  <input *ngIf=" commCibilUploadDetailsForm.get('option')?.value === '1' " class="File-input-common" type="file" multiple
                         accept=".csv"
                         #fileDropRef id="fileUpload" name="fileUpload" formControlName="fileUpload"
                         (change)="fileBrowseHandler($event.target.files)" required />
                   <input *ngIf=" commCibilUploadDetailsForm.get('option')?.value === '2' " class="File-input-common" type="file" multiple
                      accept=".xlsx"
                      #fileDropRef id="fileUpload" name="fileUpload" formControlName="fileUpload"
                      (change)="fileBrowseHandler($event.target.files)" required />
                  <div class="Input-text-File">
                    <span class="file-upload-icon"><mat-icon>arrow_upward_alt</mat-icon> Upload files</span>
                    <p *ngIf=" commCibilUploadDetailsForm.get('option')?.value === '1' " class="Drop-text-common" for="fileDropRef"><span>Browse</span> file or drag and drop <br />CSV
                    </p>
                    <p *ngIf=" commCibilUploadDetailsForm.get('option')?.value === '2' " class="Drop-text-common" for="fileDropRef"><span>Browse</span> file or drag and drop <br />Excel
                  </p>
                  </div>
                </div>
              </div>
              <div class="__Btn_Group __MT15px __JcEnd">
                <button mat-stroked-button color="primary" class="btn_design" *ngIf="isActionAvail(constants.PageActions.UPLOAD)"
                  (click)='submit()'><mat-icon>arrow_upward_alt</mat-icon> Upload File</button>
              </div>
              <div class="files-list" *ngIf="files.length > 0">
                <h2 class="file_list">Upload File <Span class="bedge">{{files.length}}</Span></h2>
                <div class="single-file" *ngFor="let file of files; let i = index">
                  <div class="File-Progress">
                    <div class="file-icon">
                      <img src="assets/images/hsbc/FileUpload_Icon.svg" alt="File Icon">
                    </div>
                    <div class="info">
                      <h4 class="name">
                        {{ file?.name }}
                      </h4>
                    </div>
                    <div class="delete" (click)="deleteFile(i)">
                      <em class="fmdi fmdi-delete IC-red mr-2"></em> Remove
                    </div>
                  </div>
                  <mat-progress-bar class="Progreebar-File" mode="determinate" value="{{file.progress}}" [max]="100">
                  </mat-progress-bar>
                </div>
                <button type="submit" mat-flat-button color="primary" (click)='submit()' class="d-flex ml-auto">Submit</button>
              </div>
            </div>
          </div>

          <div class="box_design">
            <div class="box_design_ttl_bar">
              <div class="box_design_ttl_bar_left">
                <h4>File Uploads History</h4>
              </div>
            </div>
            <div class="box_design_details p-0">
              <div class="tableResponsive" appTableScroll>
                <table class="CommonTable_Scroll NonBG_Table no_stripe_borderX_table rmExisitingPortfolio_list_table table_wrap no_sticky_table">
                  <thead>
                    <tr class="tr_lightred_bg">
                      <th width="5%">Sr. No.</th>
                      <th>File Name</th>
                      <th>Uploaded On</th>
                      <th>Status</th>
                      <th class="text-right">Successful Entries</th>
                      <th class="text-right">Failed Entries</th>
                      <th class="text-right pr-3">Total Entries</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="bulkUploadHistory">
                      <tr *ngFor="let historyData of bulkUploadHistory; let i=index">
                        <td data-label="Sr. No."> {{ startIndex + i + 1 }}</td>
                        <td data-label="File Name">{{historyData?.fileName}} <span> <i class="fas fa-info-circle blue_text mr-1" matTooltip="{{historyData?.fileUploadFailureReason}}" *ngIf="historyData?.statusCode == 5"></i>
                       </span> </td>
                        <td data-label="Uploaded On">{{historyData?.createdDate |
                          date:'dd MMM yyyy hh:mm:ss'}}</td>
                        <td><span [ngClass]="{
                          'orange_badge': historyData?.statusCode === 1 || historyData?.statusCode === 2,
                          'green_badge': historyData?.statusCode === 3  || historyData?.statusCode === 4,
                          'lightred_badge': historyData?.statusCode === 5 ||historyData?.statusCode === null,
                      }">{{getStatus(historyData?.statusCode)}}</span>
                        </td>
                        <td data-label="Successful Entries" class="text-right">{{historyData?.successEntries}} <a
                            href="javscript:void(0)" (click)="getData(1,historyData)" *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_SUCCESS_ENTRY)"><i
                              class="fas fa-download green_text cursor_pointer ml-1"></i></a></td>
                        <td data-label="Failed Entries" class="text-right">{{historyData?.failEntries}} <a
                            href="javscript:void(0)" (click)="getData(2,historyData)"  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_FAIL_ENTRY)"><i
                            class="fas fa-download blue_text cursor_pointer ml-1"></i></a></td>
                        <td data-label="Total Entries" class="text-right pr-3">{{historyData?.totalEntries}} <a
                            href="javscript:void(0)" (click)="getData(3,historyData)"  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TOTAL_ENTRY)"><i
                            class="fas fa-download grey_l_text cursor_pointer ml-1"></i></a></td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="pagination-table NP_LeftPagintion">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                  Showing
                  {{(startIndex+1)}} to
                  {{(pageSize*page) > (totalSize) ? (totalSize) : (pageSize*page)}} of
                  {{totalSize}}
                  row
                  <div class="dataTables_length" id="tickets-table_length">
                    <div class="NP_HSBC_ComInput select-field">
                      <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="pageSize" id="pagesizee" #pagesizee [panelClass]="'pagination_select'"
                          (valueChange)="pageSizeChange(pagesizee.value,page)" (ngModelChange)="onChangePage(page);" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                            {{pages.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-5">
                <div class="text-md-right float-md-right pagination-rounded">

                  <ul class="pagiation pagination-rounded psb-flex-end my-2">
                    <ngb-pagination [collectionSize]="totalSize" [maxSize]="3" [(page)]="page" [rotate]="true"
                      [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onChangePage($event)">
                    </ngb-pagination>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

