<div class="container-fluid HSBC_Common_Pages thankyou_bg">
    <div class="__main_Container">
        <div class="HSBC_thankyou ">
            <lottie-player class="__HSBC_lotties" src="./../assets/images/hsbc/HSBC_Thankyou.json" background="transparent"
                speed="1" loop autoplay></lottie-player>
            <div class="HSBCWithtxt_Cont">
                <p class="HSBC_h4">Thank You !</p>
                <span class="HSBC_span">Your proposal is under process, you will be notified once the same has
                    been processed.</span>
            </div>

            <button mat-flat-button color="primary" class="Btn__Common __Primary">Go To Dashboard</button>
        </div>
    </div>
</div>