<div class="container-fluid HSBC_Common_Pages">
  <div class="__main_Container">
    <form class="NP_Form" [formGroup]="bulkUploadDetailsForm" autocomplete="off">
      <div class="page_Title_sec">
        <div class="page_Title_left">
          <h4  class="cursor_pointer">
            Exim Exchange Rate Upload
          </h4>
          </div>
        <div class="page_Title_Right">
          <div ngbDropdown container="body" class="dropdown d-inline">
            <button type="button" mat-flat-button ngbDropdownToggle color="primary"
                    *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TEMPLATE)">
              Download Template <i class="fas fa-caret-down ml-2"></i>
            </button>

            <div ngbDropdownMenu class="dropdown-menu NP_Drop_Hover download_template">
              <!-- Exchange Templates -->
              <a ngbDropdownItem
                 href="assets/files/Template for exchange rate.xlsx" download>
                Exchange Template YTD
              </a>

              <!-- EXIM Templates - Commented out as only Exchange Rate is needed -->
              <!-- <a ngbDropdownItem href="assets/files/EximExportDownloadTemplate.xlsx" download>
                EXIM Export Template
              </a>
              <a ngbDropdownItem href="assets/files/EximImportDownloadTemplate.xlsx" download>
                EXIM Import Template
              </a> -->
            </div>
          </div>

              <!-- <a type="button" mat-flat-button class="btn_design with_right_icn" color="secondary"
              href="assets/files/EximExportDownloadTemplate.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD)">Download Template<mat-icon
                class="ml-2 mr-0">arrow_downward_alt</mat-icon></a>

                <a type="button" mat-flat-button class="btn_design with_right_icn" color="secondary"
            href="assets/files/EximImportDownloadTemplate.xlsx" download  *ngIf="isActionAvail(constants.PageActions.DOWNLOAD)">Download Template<mat-icon
              class="ml-2 mr-0">arrow_downward_alt</mat-icon></a> -->
        </div>
      </div>
      <div class="page_Details">
        <div class="box_design mb-3 p-3">
          <div class="page_Title_Right">
          <!-- <mat-radio-group formControlName="exchangeRateYTD">
             <mat-radio-button value="0">Exim Internal Data Upload</mat-radio-button>
            <mat-radio-button value="1">Exchange Rate Table Upload</mat-radio-button>
          </mat-radio-group> -->
          </div>
          <div class="NP_Com_Group">
            <!-- Radio buttons - Commented out as only Exchange Rate Upload is needed -->
            <!-- <div class="radio-dropdown-row">
              <!-- Radio group -->
              <!-- formControlName="selectedFileType" (change)="onSelectionChange($event)" -->
              <!-- <mat-radio-group formControlName="exchangeRateYTD" (change)="onSelectionChange($event)">
                <mat-radio-button value="0">Exim Internal Data Upload</mat-radio-button>
                <mat-radio-button value="1">Exchange Rate Table Upload</mat-radio-button>
              </mat-radio-group> -->

              <!-- Dropdown aligned right -->
              <!-- <div class="page_Title_Right" *ngIf="showDropdown">
                <mat-form-field appearance="outline" class="dropdown-field">
                  <mat-label>Select Upload Type</mat-label>
                  <mat-select (selectionChange)="onSelectionChangeValue($event)">
                    <mat-option [value]="1">Export</mat-option>
                    <mat-option [value]="2">Import</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->

            <!-- Only Exchange Rate Upload option -->
            <!-- <div class="upload-type-header">
              <h5>Exchange Rate Table Upload</h5>
            </div> -->
            <div class="dragDrop-Common" appDragDrop>
              <div class="files-list" *ngIf="files.length > 0">
                <div class="single-file" *ngFor="let file of files; let i = index">
                  <div class="File-Progress">
                    <div class="file-icon">
                      <img src="assets/images/hsbc/FileUpload_Icon.svg" alt="File Icon">
                    </div>
                    <div class="info">
                      <h4 class="name">{{ file?.name }}</h4>
                    </div>
                    <div class="delete" (click)="deleteFile(i)">
                      <em class="fmdi fmdi-delete IC-red mr-2"></em> Remove
                    </div>
                  </div>
                  <mat-progress-bar class="Progreebar-File"
                    mode="determinate"
                    [value]="file.progress"
                    [max]="100">
                  </mat-progress-bar>
                </div>
              </div>

              <div class="Input-text-Fill-Cutome" *ngIf="files.length == 0">
                <input class="File-input-common"
                  type="file"
                  accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                  #fileDropRef id="fileUpload" name="fileUpload"
                  formControlName="fileUpload"
                  (change)="fileBrowseHandler($event.target.files)"
                  multiple
                  required />
                <div class="Input-text-File">
                  <span class="file-upload-icon">
                    <mat-icon>arrow_upward_alt</mat-icon> Upload files
                  </span>
                  <p class="Drop-text-common" for="fileDropRef">
                    <span>Browse</span> file or drag and drop <br />
                    XLS or XLSX
                  </p>
                </div>
              </div>
            </div>
            <div class="__Btn_Group __MT15px __JcEnd">
              <div>
              <p class = "page_Title_Left">Upload Multiple Documents.</p>
            </div>
              <!-- <button mat-stroked-button color="secondary" class="btn_design"
                (click)="Read_Instruction_BulkUpload_popup()" disabled><mat-icon>info</mat-icon> Read
                Instructions </button> -->
              <!-- (click)="Read_Instruction_BulkUpload_popup()" -->
              <button mat-stroked-button color="primary" class="btn_design" *ngIf="isActionAvail(constants.PageActions.UPLOAD)"
                (click)='submit()'><mat-icon>arrow_upward_alt</mat-icon> Upload File</button>
            </div>
          </div>
        </div>

        <div class="box_design">
          <div class="box_design_ttl_bar">
            <div class="box_design_ttl_bar_left">
              <h4>File Uploads History</h4>
            </div>
            <!-- <div class="box_design_ttl_bar_right">
              <button class="btn_design" mat-stroked-button color="primary">Filter<i
                  class="fa fa-sort-amount-down ml-2"></i></button>
            </div> -->
          </div>
          <div class="box_design_details p-0">
            <div class="tableResponsive" appTableScroll>
              <table class="CommonTable_Scroll NonBG_Table no_stripe_borderX_table rmExisitingPortfolio_list_table table_wrap no_sticky_table">
                <thead>
                  <tr class="tr_lightred_bg">
                    <th width="5%">Sr. No.</th>
                    <th>File Name</th>
                    <th>Status</th>
                    <th>Uploaded On</th>
                    <!-- <th *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'">Status</th> -->
                    <th class="text-right">Successful Entries</th>
                    <th class="text-right">Failed Entries</th>
                    <th class="text-right pr-3">Total Entries</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <ng-container> -->
                  <!-- <tr class="Mobile_View_Filter_Hide_NP">
                          <td></td>
                          <td>
                              <fieldset class="NP_HSBC_ComInput">
                                  <mat-form-field appearance="outline" floatLabel="never">
                                      <input matInput placeholder="Enter name">
                                  </mat-form-field>
                              </fieldset>
                          </td>
                          <td>
                              <fieldset class="NP_HSBC_ComInput">
                                  <mat-form-field appearance="outline" floatLabel="never">
                                      <input matInput [matDatepicker]="picker" readonly>
                                      <mat-datepicker-toggle matSuffix
                                          [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                              </fieldset>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr> -->
<!--                  {{bulkUploadHistory | json}}-->
                      <ng-container *ngIf="bulkUploadHistory">
                        <tr *ngFor="let historyData of bulkUploadHistory; let i=index">
                          <td data-label="Sr. No."> {{ startIndex + i + 1 }}</td>
                          <td data-label="File Name">{{historyData?.fileName}}
                            <span> <i class="fas fa-info-circle red_text mr-1" matTooltip="{{historyData?.fileUploadFailureReason}}" *ngIf="historyData?.status == 0"></i>
                            </span>
                          </td>
                          <td><span [ngClass]="{
                          'green_badge': historyData?.status === 1 ,
                          'lightred_badge': historyData?.status === 0,
                      }">{{getStatus(historyData?.status)}}</span>
                          </td>
                          <td data-label="Uploaded On">{{historyData?.createdDate | date:'dd MMM yyyy hh:mm:ss'}}</td>

                          <!-- EXIM Internal Data columns - commented out as only Exchange Rate is needed -->
                          <!-- <td *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'">
                            <span [ngClass]="{'orange_badge': historyData?.status === 'Pending','green_badge': historyData?.status === 'Success','lightred_badge': historyData?.status === 'Failed',}" [ngbTooltip]="historyData?.status === 'Failed' ? historyData?.fileUploadFailureReason : null">{{historyData?.status}}</span></td>
                          <td *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'"
                              data-label="Successful Entries" class="text-right">
                              {{historyData?.success}}
                              <a href="javscript:void(0)" (click)="getDataForExim(1, historyData)">
                                <img src="assets/images/hsbc/S_Download_Icon.svg" alt="Successful Entries"
                                  *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'
                                  && isActionAvail(constants.PageActions.DOWNLOAD_SUCCESS_ENTRY)">
                              </a>
                          </td>

                          <td *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'"
                              data-label="Failed Entries" class="text-right">
                              {{historyData?.fail}}
                              <a href="javscript:void(0)" (click)="getDataForExim(2, historyData)"
                                *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'
                                && isActionAvail(constants.PageActions.DOWNLOAD_FAIL_ENTRY)">
                                <img src="assets/images/hsbc/F_Download_Icon.svg" alt="Failed Entries">
                              </a>
                          </td>

                          <td *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'"
                              data-label="Total Entries" class="text-right pr-3">
                              {{historyData?.totalRows}}
                              <a href="javscript:void(0)" (click)="getDataForExim(3, historyData)"
                                *ngIf="bulkUploadDetailsForm.get('exchangeRateYTD')?.value === '0'
                                && isActionAvail(constants.PageActions.DOWNLOAD_TOTAL_ENTRY)">
                                <i class="fas fa-download grey_l_text cursor_pointer ml-1"></i>
                              </a>
                          </td> -->

                          <!-- Exchange rate table entries -->
                          <td data-label="Successful Entries" class="text-right">
                              {{historyData?.success}}
                              <button type="button" class="btn-link p-0 border-0 bg-transparent" (click)="getExchData(1,historyData?.id)"
                                *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_SUCCESS_ENTRY)">
                                <i class="fas fa-download green_text cursor_pointer ml-1"></i>
                              </button>
                          </td>

                          <td data-label="Failed Entries" class="text-right">
                              {{historyData?.fail}}
                              <button type="button" class="btn-link p-0 border-0 bg-transparent" (click)="getExchData(2,historyData?.id)"
                                *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_FAIL_ENTRY)">
                                <i class="fas fa-download red_text cursor_pointer ml-1"></i>
                              </button>
                          </td>

                          <td data-label="Total Entries" class="text-right pr-3">
                              {{historyData?.totalRows}}
                              <button type="button" class="btn-link p-0 border-0 bg-transparent" (click)="getExchData(3,historyData?.id)"
                                *ngIf="isActionAvail(constants.PageActions.DOWNLOAD_TOTAL_ENTRY)">
                                <img src="assets/images/hsbc/T_Download_Icon.svg" alt="Total Entries">
                              </button>
                          </td>
                        </tr>
                      </ng-container>

                  <!-- </ng-container> -->
                  <!-- <tr>
                      <td colspan="10">
                          <div class="HSBC_No_Data_Found">
                              <lottie-player class="__HSBC_lotties_Not"
                                  src="../../../../assets/images/Json/No_data_Found.json"
                                  background="transparent" speed="1" loop autoplay></lottie-player>
                          </div>
                      </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>


          <!-- <div class="pagination-table NP_LeftPagintion">
                  <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                        <ng-container *ngIf="counts == 0">
                        Showing
                        0 to
                        {{(pageSize*page) > (counts) ? (counts) :
                        (pageSize*page)}} of
                        {{totalCount[0]}}
                        </ng-container>
                        <ng-container *ngIf="counts > 0">
                        Showing
                        {{((pageSize*(page-1))+1)}} to
                        {{(pageSize*page) > (counts) ? (counts) :
                        (pageSize*page)}} of
                        {{totalCount[0]}}
                        </ng-container>
                          row
                          <div class="dataTables_length" id="tickets-table_length">
                              <label class="d-inline-flex align-items-center"> <ng-select [clearable]="false"
                                      name="tickets-table_length" class="hide-clear" aria-controls="tickets-table"
                                      name="pageSize" [(ngModel)]="pageSize" bindLabel="name" bindValue="value"
                                      [items]="PageSelectNumber" (ngModelChange)="onChangePage(page)"></ng-select>
                                  row per page</label>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-12 col-md-5">
                      <div class="text-md-right float-md-right pagination-rounded">
                          <ul class="pagiation pagination-rounded psb-flex-end my-2">
                              <ngb-pagination (pageChange)="onChangePage(page)" [maxSize]="3" [pageSize]="pageSize"
                                  [(page)]="page" [collectionSize]="counts" [rotate]="true"></ngb-pagination>
                          </ul>
                      </div>
                  </div>
              </div> -->
          <div class="pagination-table NP_LeftPagintion">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Showing
                {{(startIndex+1)}} to
                {{(pageSize*page) > (totalSize) ? (totalSize) : (pageSize*page)}} of
                {{totalSize}}
                row
                <!-- <div class="dataTables_length" id="tickets-table_length">
                            <label class="d-inline-flex align-items-center"> <ng-select [clearable]="false"
                                    name="tickets-table_length" class="hide-clear" aria-controls="tickets-table"
                                    name="pageSize" [(ngModel)]="pageSize" bindLabel="name" bindValue="value"
                                    [items]="PageSelectNumber" (change)="onChangePage(page)"></ng-select>
                                row per page</label>
                        </div> -->

                <div class="dataTables_length" id="tickets-table_length">
                  <div class="NP_HSBC_ComInput select-field">
                    <mat-form-field appearance="outline">
                      <mat-select [(ngModel)]="pageSize" id="pagesizee" #pagesizee [panelClass]="'pagination_select'"
                        (valueChange)="pageSizeChange(pagesizee.value,page)" (ngModelChange)="onChangePage(page);" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                          {{pages.value}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">

                <ul class="pagiation pagination-rounded psb-flex-end my-2">
                  <ngb-pagination [collectionSize]="totalSize" [maxSize]="3" [(page)]="page" [rotate]="true"
                    [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onChangePage($event)">
                  </ngb-pagination>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
