.top_filter_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.box_design_ttl_bar {
    border-bottom: 1px solid #DCDFE0;
  }

  .intable_td{
    padding: 10px 30px;
  }