<div class="commonDesign_page applicationForm_Design mb-5">
    <div class="commonDesign_wrapper">
        <mat-card appearance="outlined" class="common_Details_box ">
            <mat-card-title class="text-center p-3">
                <h1>Terms of Service (Terms & Conditions)</h1>
            </mat-card-title>
            <mat-card-content class="pb-5">
  
                <ul class="ul_1_number">
                    <li>
                        <h3>DEFINITIONS:</h3>
                        <p>In these Terms of Service (Terms & Conditions), unless the context indicates otherwise, the following words and phrases shall have the meanings indicated against them:</p>
                        <p>'The Bank' refers to Punjab National Bank, a body corporate constituted under the Banking Companies (Acquisition & Transfer of Undertakings) Act, 1970 having its Head Office at Plot no 4, Dwarka Sector 10, New Delhi - 110075 (which
                            expression shall, unless it is repugnant to the subject or context thereof, include its successors and assigns).</p>
                        <p>'The Site' means <a href="https://instaloans.pnbindia.in" target="_blank">https://instaloans.pnbindia.in</a></p>
                        <p>E-GST Express Services are the Bank's services which provide the facility of applying and availing various digital loan product through the online website of the Bank</p>
                        <p>'User' refers to an online applicant and/or authorized sales partners of the Bank.</p>
                        <p>'Applicant' refers to an applicant named in the Application Form and shall, where the context requires, include Co-applicant(s) with the Applicant.</p>
                        <p>'Application' refers to an Applicant's request to the Bank through PNB E-GST Express .</p>
                        <p>'Information' refers to any information obtained by an applicant from the Bank for availing various services through PNB E-GST Express.</p>
                        <p>'Personal Information' refers to any information about the applicant obtained by the Bank in connection with the PNB E-GST Express services.</p>
                        <p>'Third party product' refers to any product and/or service of third party which is offered by or through the intermediary of the Bank.</p>
                        <p>'One Time Password (OTP)' refers to one time 6 digit pass code sent to the mobile number provided by an applicant during a session, for verification of his/her mobile number.</p>
                        <p>'Quote' / 'Eligibility' refers to an applicant's eligibility under the particular loan scheme. The quote shown to an applicant depends upon inputs provided by the online applicant.</p>
                        <p>'Sanction' letter refers to the letter sent to the email ID provided by an applicant, conveying the sanctioned terms & conditions for the loan applied for.</p>
                        <p>'Scheduling an appointment' means any request or instruction that is received from an applicant by the Bank through PNB E-GST Express for scheduling an appointment with the Bank's official for document collection and/or KYC verification.</p>
                    </li>
                    <li>
                        <h3>APPLICABILITY OF TERMS:</h3>
                        <p>By accessing the PNB E-GST Express service the User acknowledges and accepts these Terms of Service (Terms & Conditions). Any terms and conditions relating to the loan schemes of the Bank other than these Terms will continue to apply.</p>
                    </li>
                    <li>
                        <h3>SOFTWARE COMPATIBILITY:</h3>
                        <p>The Bank may advise from time to time the internet software such as Browser, which are required for using PNB E-GST Express Services. There will be no obligation on the part of the Bank to support all the versions of such Internet software.</p>
                    </li>
                    <li>
                        <h3>CYBER CRIME:</h3>
                        <p>The Internet per se is susceptible to cyber-crimes like phishing, vishing (Voice phishing), SMSing (phishing through SMS), compromising of User's system security, etc., that could affect instructions to the Bank. While the Bank
                            shall endeavor to protect the interests of customers, there cannot be any guarantee against such cyber-crimes and other actions that might affect security of information. The User shall separately evaluate all such risks and
                            the Bank shall not be held responsible for any losses arising out of such cyber-crimes. The User also understands that doing a transaction at a Cyber-cafe/shared computer terminal is risky, and shall avoid using the services
                            of a Cybercafe/shared com-puter terminal to use the Bank's PNB E-GST Express service.</p>
                    </li>
                    <li>
                        <h3>TECHNOLOGY RISKS:</h3>
                        <p>The Site may require maintenance and during such periods it may not be possible to process the requests of customers. This could result in delays and/or failure in processing instructions. The User understands that the Bank disclaims
                            any and all liability, whether direct or indirect, whether arising out of loss or otherwise arising out of any failure or inability by the Bank to honor any customer instruction for whatsoever reason.</p>
                    </li>
                    <li>
                        <h3>DOCUMENTS REQUIRED FOR TRANSACTION PROCESSING:</h3>
                        <p>The User shall be responsible for submitting necessary documents and information as the Bank may require along with any request for any service under PNB E-GST Express . If any request for a service is such that it cannot be given effect
                            to unless it is followed up by requisite documentation, the Bank shall not be required to act upon the request until it receives such documentation from the User.</p>
                    </li>
                    <li>
                        <h3>AUTHORITY TO THE BANK:</h3>
                        <p>By giving an authority to the Bank agreeing to be contacted by the Bank or their representative, the applicant understands that he/ she has permitted the Bank or their representative to contact him/her over phone / email in connection
                            with his/her loan application/ partial application/enquiry and the Bank shall not be liable for breach of the applicant's mandate for 'Do not Disturb', if any.</p>
                    </li>
                    <li>
                        <h3>ACCURACY OF INFORMATION:</h3>
                        <p>A customer shall provide such information as the Bank may from time to time reasonably request for the purposes of providing the PNB E-GST Express services. The User is responsible for correctness of information supplied to the Bank through
                            the use of PNB E-GST Express services. The Bank accepts no liability for consequences arising out of erroneous/incomplete/incorrect information provided by the User. If the User suspects that there is an error in the information supplied
                            to the Bank by him/her, he/she shall advise the Bank at the earliest by using contact details mentioned on <a href="https://instaloans.pnbindia.in" target="_blank">https://instaloans.pnbindia.in</a> The Bank will endeavor to
                            correct such errors wherever possible on a 'best efforts' basis. If the User notices an error in the loan application provided to him/her through the PNB E-GST Express service, he shall advise the Bank at the earliest.</p>
                    </li>
                    <li>
                        <h3>LIABILITY OF THE USER:</h3>
                        <p>The User shall be liable for:</p>
                        <ul class="ul_dotStyle">
                            <li>Non-compliance of Terms of Service (Terms & Conditions) mentioned herein</li>
                            <li>If he/she has breached the Terms of Service (Terms & Conditions) or contributed or caused any loss by his/her negligent actions.</li>
                        </ul>
                    </li>
                    <li>
                        <h3>NON-TRANSFERABILITY:</h3>
                        <p>The grant of facility of PNB E-GST Express Services to an Applicant is non-transferable under any circumstances and application shall be used by the Applicant only.</p>
                    </li>
                    <li>
                        <h3>DISCLAIMER:</h3>
                        <p>The Bank shall not be liable for any unauthorized email sent to a User's email ID through PNB E-GST Express service, which can be attributed to fraudulent conduct of the User or cyber crime.</p>
                        <p>The Bank shall not be liable to the applicant(s) for any damages whatsoever whether such damages are direct, indirect, incidental, consequential and irrespective of whether any claim is based on investment or any other loss of
                            any character or nature whatsoever and whether sustained by the user(s) or any other person, if PNB E-GST Express service access is not available in the desired manner for reasons including but not limited to natural calamity, fire
                            and other natural disasters, legal restraints, faults in the telecommunication network or Internet or network failure, software or hardware error or any other reasons beyond the control of the Bank.</p>
                        <p>The Bank shall endeavor to take all possible steps to maintain secrecy and confidentiality of information provided by Users, but shall not be liable to the Users for any damages whatsoever caused on account of breach of secrecy/confidentiality
                            due to reasons beyond the control of the Bank.</p>
                        <p>The Bank, for valid reasons, may refuse to execute any application/instruction submitted by the User.</p>
                        <p>The sanction of the loan amount is tentative, and the Bank assumes no liability for such quote, which is based on the inputs provided by the User. Further, loan eligibility may vary depending upon changes in interest rate, margin,
                            processing fee and/or terms and conditions of the respective loan scheme.</p>
                        <p>Appointments scheduled by an online User through the system would be tentative only; the Bank is not liable to follow such appointments meticulously.</p>
                        <p>The Bank will in no way be held responsible for or liable for delay, failure and/or untimely delivery of SMS password and/or SMS Alerts due to but not limited to network congestions, network failure, systems failure or any other
                            reasons beyond the reasonable control of the Bank or its service provider(s).</p>
                    </li>
                    <li>
                        <h3>INDEMNITY:</h3>
                        <p>The User agrees to indemnify, hold harmless and defend the Bank and its affiliates against any loss and damages that may be caused from or relating to:</p>
                        <ul class="ul_dotStyle">
                            <li>Breach of Terms of Service (Terms & Conditions) mentioned herein</li>
                            <li>Improper use of the PNB E-GST Express service by a User/applicant.</li>
                            <li>The use of products/ PNB E-GST Express service in any manner which violates the Terms of Service (Terms & Conditions) or otherwise violates any law, rule, conditions or regulation.</li>
                            <li>Any claims made by third parties arising from issues related to any failure, delay or interruptions of the product and/or services as provided by Bank through <a href="https://instaloans.pnbindia.in" target="_blank">https://instaloans.pnbindia.in</a></li>
                        </ul>
                    </li>
                    <li>
                        <h3>DISCLOSURE OF PERSONAL INFORMATION</h3>
                        <p>The User agrees that the Bank or its service providers may hold and process his/her Personal/Technical Information on Computer or otherwise in connection with PNB E-GST Express services as well as for statistical analysis.</p>
                        <p>The User agrees that the Bank may collect User system related information. The User also agrees that the Bank may disclose, in strict confidence, to other institutions, such Personal Information as may be reasonably necessary for
                            reasons inclusive of, but not limited to, the following</p>
                        <ul class="ul_dotStyle">
                            <li>In compliance with legal, regulatory and/or Reserve Bank of India's directives</li>
                            <li>For fraud prevention purposes.</li>
                            <li>Any other reasons as deemed fit by bank</li>
                        </ul>
                    </li>
                    <li>
                        <h3>AMENDMENTS</h3>
                        <p>The Bank has the absolute discretion to amend or supplement any of the Terms of Service (Terms & Conditions) at any time, without prior notice. However the Bank will endeavor to notify any such change by posting it on the website
                            or through advertisement or any other means as the Bank may deem fit which shall be binding on the User. The existence and availability of the new functionalities/facilities/features will be notified to the User as and when
                            they are made available. By using these new services, the User agrees to be bound by the Terms of Service (Terms & Conditions) applicable therefore.</p>
                    </li>
                    <li>
                        <h3>PROPRIETARY RIGHTS</h3>
                        <p>The User acknowledges that the software underlying the service as well as other Internet related software which are required for accessing PNB E-GST Express service is the legal property of the Bank/the respective service providers. The
                            permission given by the Bank to access PNB E-GST Express service will not convey any proprietary or ownership rights in the above software. The User shall not attempt to modify, translate, disassemble, decompile or reverse engineer
                            the software underlying the PNB E-GST Express service nor create any derivative product based on the software.</p>
                    </li>
                    <li>
                        <h3>PROPRIETARY AND INTELLECTUAL PROPERTY RIGHTS</h3>
                        <p>The copyright, trademarks, logos, slogans and service marks displayed on the website(s) are registered and unregistered intellectual property rights of the Bank or of the respective intellectual property right owners. Nothing contained
                            on the website(s) should be construed as granting, by implication, estoppels, or otherwise, any license or right to use any intellectual property displayed on the website(s) without the written permission of the Bank or such
                            third party that may own the intellectual property displayed on the website(s).</p>
                        <p>The Bank grants the right to access the website(s) to the User and to use the PNB E-GST Express services in accordance with the Terms of Service (Terms & Conditions) mentioned herein. The User acknowledges that the Services including, but
                            not limited to, text, content, photographs, video, audio and/or graphics, are either the property of, or used with permission by, the Bank and/or by the content providers and may be protected by applicable copyrights, trademarks,
                            service marks, international treaties and/or other proprietary rights and laws of India and other countries, and the applicable Terms of Service (Terms & Conditions).</p>
                        <p>The User should assume that everything he/she views or reads on the website (collectively referred to as 'content') is copyrighted/ protected by intellectual property laws unless otherwise provided and may not be used, except as
                            provided in these Terms of Service (Terms & Conditions), without the prior written permission of the Bank or the relevant copyright owner.</p>
                        <p>Any breach of the restrictions on use provided in these terms is expressly prohibited by law, and may result in severe civil and criminal penalties. The Bank shall be entitled to obtain equitable relief (including all damage, direct,
                            indirect, consequential and exemplary) over and above all other remedies available to it, to protect its interests therein.</p>
                    </li>
                    <li>
                        <h3>TERMINATION OF PNB E-GST Express SERVICES</h3>
                        <p>The Bank may at its sole discretion, at any time without giving notice or reasons suspend or terminate all or any of the PNB E-GST Express Services offered by the Bank or their use by the applicant including for reasons such as:</p>
                        <ul class="ul_dotStyle">
                            <li>Breach of these Terms of Service (Terms & Conditions) by the User</li>
                            <li>Knowledge or information about the death, bankruptcy or legal incapacity of the User.</li>
                        </ul>
                    </li>
                    <li>
                        <h3>THIRD PARTY LINKS</h3>
                        <p>The Site may provide hyperlinks to websites not controlled by PNB E-GST Express , and such hyperlinks do not imply any endorsement, agreement on, or support of the content, products and /or services of such websites. PNB E-GST Express does not editorially
                            control the content, products and /or services on such websites and shall not be liable, in any manner whatsoever, for access to, or the inability of access to, or the use, or inability to use the content available on or through
                            such websites</p>
                    </li>
                    <li>
                        <h3>NOTICES</h3>
                        <p>Notice under these Terms of Service (Terms & Conditions) to the user may be given through any medium of communication as may be deemed appropriate by the Bank i.e. Bank's website (<a href="https://www.pnbindia.in" target="_blank">www.pnbindia.in</a>                            or
                            <a href="https://instaloans.pnbindia.in" target="_blank">https://instaloans.pnbindia.in</a>) or email, sms, public notification at Branches, or through newspapers, radio, TV, etc. Such notices will have the same effect as a
                            notice served individually to each user.
                        </p>
                    </li>
                    <li>
                        <h3>FORCE MAJEURE</h3>
                        <p>The Bank shall not be liable for delay in performing or failure to perform any of its obligations under these Terms of Service (Terms & Conditions) which is caused by circumstances beyond its reasonable control, including, but
                            not limited to, the failure, malfunction or unavailability of telecommunications, data communications and/or computer systems and services, natural calamities, war, civil unrest, government action, strikes, lock-outs and/or
                            other industrial action or trade disputes (whether involving the Bank's employees or those of a third party). Any delay or failure of this kind will not be deemed to be a breach of the Terms of Service (Terms & Conditions)
                            and the time for performance of the affected obligation will be extended by a period which is reasonable in the circumstances.</p>
                    </li>
                    <li>
                        <h3>DISCLAIMER ON THE INFORMATION TECHNOLOGY ACT 2000</h3>
                        <p>The Bank has adopted the mode of authentication of the User by means of verification of the User ID and or through verification of password or through any other mode of verification as may be stipulated at the discretion of the
                            Bank. The User hereby agrees/consents for the mode of verification adopted bythe Bank. The User agrees that the transactions carried out or put through by the aforesaid mode shall be valid, binding and enforceable against the
                            User and the User shall not be entitled to raise any dispute questioning such transactions.</p>
                    </li>
                    <li>
                        <h3>DISCLAIMER ON ANTI VIRUS UPDATE</h3>
                        <p>The User needs to get his PCs/laptops/tablets/mobiles scanned on a regular basis and have these updated with the latest antivirus software available. The Bank shall not be responsible in case of any data loss or theft due to any
                            virus transmitted in the system through the usage of PNB E-GST Express .</p>
                    </li>
                    <li>
                        <h3>GOVERNING LAWS</h3>
                        <p>These Terms of Service (Terms & Conditions) and/or the use of services provided through PNB E-GST Express services are construed to be governed in accordance with the laws in India. The Bank accepts no liability whatsoever, direct or implied,
                            for non-compliance with the laws of any country other than that of India. The mere fact that PNB E-GST Express service can be accessed through Internet by a User from a country other than India shall not be interpreted to imply that
                            the laws of the said countries govern these Terms of Service (Terms & Conditions) and/or the operations in the accounts of the User through Internet and/or the Use of E-GST Express Services. The User agrees to abide by prevailing laws
                            in respect of PNB E-GST Express services applicable in India. It is the responsibility of the User to comply with any regulations prevailing in the country from where he/she is accessing the Internet.</p>
                        <p>All disputes shall be subject to the jurisdiction of courts in New Delhi (India). The Bank however, may, in its absolute discretion commence any legal action or proceedings arising out of these terms in any other court, tribunal
                            or other appropriate forum, and the User hereby consents to that jurisdiction.</p>
                    </li>
  
                </ul>
  
            </mat-card-content>
        </mat-card>
    </div>
  </div>