<section class="popup_design max-500">
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
            <h3>GSTIN Details</h3>
        </div>
        <mat-dialog-content>
            <div class="popup_body">
                <div class="list_table_design">
                    <div class="list_row" *ngFor="let item of ativeGstInList">
                        <span>{{item}}</span>
                        <span><span class="skyblue_badge">Active</span></span>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns">
            <button mat-flat-button color="primary" matDialogClose="">OK</button>
        </mat-dialog-actions>
    </div>
</section>
