<section class="popup_design max-500 HSBC_Common_Pages pb-0">
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
            <h3>RM Details</h3>
        </div>
        <mat-dialog-content>
            <div class="popup_body">
                <div class="table_sec">
                    <div class="tableResponsive ">
                        <table class="CommonTable_FixedScroll firstSrCols no_stripe_borderX_table compressed_table ">
                            <thead>
                                <tr class="tr_lightred_bg">
                                    <th>Sr No.</th>
                                    <th>RM ID</th>
                                    <th>RM Name</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rm of rmList; let i = index">
                                  <td data-label="Sr No.">{{ i + 1 }}</td>
                                  <td data-label="RM ID">{{ rm.rmId }}</td>
                                  <td data-label="RM Name">{{ rm.rmName }}</td>
                                  <td data-label="Action" class="text-center">
                                    <i *ngIf="rm.canRevoke"
                                      class="fi fi-rr-cross-small blue_text cursor_pointer"
                                      (click)="removeRM(rm, i, panNo)"
                                      title="Remove"
                                    ></i>
                                  </td>
                                </tr>

                                <tr *ngIf="rmList.length === 0">
                                    <td colspan="4" class="text-center">No RM data found</td>
                                  </tr>
                              </tbody>                              
                        </table>
                    </div>
                    <!-- <div class="pagination-table NP_LeftPagintion">
                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                            Showing
                            {{(hsndetailsPage.startIndex()+1)}} to
                            {{(hsndetailsPage.pageSize()*hsndetailsPage.page()) >
                            (hsndetailsPage.totalSize) ? (hsndetailsPage.totalSize) :
                            (hsndetailsPage.pageSize()*hsndetailsPage.page())}} of
                            {{hsndetailsPage.totalSize}} rows
                            <div class="dataTables_length" id="tickets-table_length">
                                <div class="NP_HSBC_ComInput select-field">
                                    <mat-form-field appearance="outline">
                                        <mat-select [(ngModel)]="hsndetailsPage.pageSize"
                                            [panelClass]="'pagination_select'">
                                            <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                {{pages.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <span class="grey_text"> row per page</span>
                        </div>
                        <div class="text-md-right float-md-right pagination-rounded">
                            <ul class="pagiation pagination-rounded psb-flex-end my-2">
                                <ngb-pagination [collectionSize]="hsndetailsPage.totalSize" [maxSize]="3"
                                    [(page)]="hsndetailsPage.page" [rotate]="true" [boundaryLinks]="true"
                                    [pageSize]="hsndetailsPage.pageSize()">
                                </ngb-pagination>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </mat-dialog-content>
        <!-- <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns pt-0">
            <button mat-flat-button color="primary" matDialogClose="">OK</button>
        </mat-dialog-actions> -->
    </div>
</section>