<div class="container-fluid HSBC_Common_Pages">
    <div class="__main_Container">
        <form class="NP_Form" [formGroup]="uploadDetailsForm" autocomplete="off">
            <div class="page_Title_sec">
                <div class="page_Title_left">
                    <h4 class="cursor_pointer">
                        <!-- <em class="fmdi fmdi-arrow-left mr-2"></em> -->
                       CRILC LENDER DETAILS 
                    </h4>
                </div>

                <div class="page_Title_Right d-flex">
                   <mat-radio-group class="radio_pros_search" [(ngModel)]="fileType" [ngModelOptions]="{standalone: true}" (change)="onFileTypeChange($event)">
                        <mat-radio-button value="1">Crilic lender details upload</mat-radio-button>
                        <mat-radio-button value="2"> HSBC Input file</mat-radio-button>
                     </mat-radio-group>
                    <div class="custom_month_picker mr-2">
                        <div class="form_box">
                            <i class="fas fa-calendar-alt"></i>
                            <input [(ngModel)]="modelDate" [ngModelOptions]="{standalone: true}" autocomplete="off" 
                                class="form-control" name="date" bsDatepicker
                                [maxDate]="maxDate"
                                [bsConfig]="{ dateInputFormat: 'MMM YYYY', adaptivePosition: true, maxDate: maxDate, minMode: 'month' }"
                                (ngModelChange)="getAlertsSubTabData(0)" (onShown)="onOpenCalendar($event)"
                                onkeydown="return false">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                    <button type="button" mat-flat-button color="primary" class=" with_right_icn"
                        (click)="downloadTemplate()">Download Template<mat-icon
                            class="ml-2 mr-0">arrow_downward_alt</mat-icon></button>
                </div>
            </div>
            <div class="page_Details">
                <div class="box_design mb-3 p-3">
                    <div class="NP_Com_Group">
                        <div class="dragDrop-Common" appDragDrop>
                            <div class="Input-text-Fill-Cutome">
                                <input class="File-input-common" type="file"
                                    accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                    #fileDropRef id="fileUpload" name="fileUpload" formControlName="fileUpload"
                                    (change)="fileBrowseHandler($event.target.files)" required />
                                <div class="Input-text-File">
                                    <span class="file-upload-icon">
                                        <mat-icon>arrow_upward_alt</mat-icon> Upload files
                                    </span>
                                    <p class="Drop-text-common" for="fileDropRef"><span>Browse</span> file or drag and
                                        drop <br />XLS or XLSX
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="__Btn_Group __MT15px __JcEnd">
                            <div>
                                <p class="page_Title_Left"></p>
                            </div>
                            <button mat-stroked-button color="primary" (click)="onClickManual()"
                                class="btn_design"><mat-icon>arrow_upward_alt</mat-icon> Upload File</button>
                        </div>
                        <div class="files-list" *ngIf="files.length > 0">
                            <h2 class="file_list">Upload File <Span class="bedge">{{files.length}}</Span></h2>
                            <div class="single-file" *ngFor="let file of files; let i = index">
                                <div class="File-Progress">
                                    <div class="file-icon">
                                        <img src="assets/images/hsbc/FileUpload_Icon.svg" alt="File Icon">
                                    </div>
                                    <div class="info">
                                        <h4 class="name">
                                            {{ file?.name }}
                                        </h4>
                                    </div>
                                    <div class="delete" (click)="deleteFile(i)">
                                        <em class="fmdi fmdi-delete IC-red mr-2"></em> Remove
                                    </div>
                                </div>
                                <mat-progress-bar class="Progreebar-File" mode="determinate" value="{{file.progress}}"
                                    [max]="100">
                                </mat-progress-bar>
                            </div>
                            <button type="submit" mat-flat-button color="primary" (click)='submit()'
                                class="d-flex ml-auto">Submit</button>
                        </div>
                    </div>
                </div>

                <div class="box_design">
                    <div class="box_design_ttl_bar">
                        <div class="box_design_ttl_bar_left">
                            <h4>File Uploads History</h4>
                        </div>
                    </div>
                    <div class="box_design_details p-0">
                        <div class="tableResponsive" appTableScroll>
                            <table
                                class="CommonTable_Scroll NonBG_Table no_stripe_borderX_table rmExisitingPortfolio_list_table table_wrap no_sticky_table">
                                <thead>
                                    <tr class="tr_lightred_bg">
                                        <th width="5%">Sr. No.</th>
                                        <th>File Name</th>
                                        <th>Uploaded On</th>
                                        <!-- <th>File Type</th> -->
                                        <th>Status</th>
                                        <th class="text-right">Successful Entries</th>
                                        <th class="text-right">Failed Entries</th>
                                        <th class="text-right pr-3">Total Entries</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    <tr *ngFor="let data of bulkUploadHistory ; let i=index">
                                        <td> {{ startIndex + i + 1 }}</td>
                                        <td>{{ data?.fileName }} 
                                            <!-- <span> <i *ngIf="data?.file_upload_failure_reason || data?.failure_reason"
                                                    class="fas fa-info-circle red_text mr-1"
                                                    matTooltip="{{data?.file_upload_failure_reason || data?.failure_reason}}"></i></span>  -->
                                                </td>
                                        <td>{{ data?.uploadedOn }}</td>
                                        <!-- <td>{{ data?.file_type || '-' }}</td> -->
                                        <td>
                                            <span [ngClass]="{
                                            'orange_badge': data?.status === 'Pending',
                                            'green_badge': data?.status === 'Success',
                                            'lightred_badge': data?.status === 'Failed'
                                        }">{{data?.status || 'Pending'}}</span>
                                            <span *ngIf="data?.status === 'Failed' && (data?.file_upload_failure_reason || data?.failure_reason)">
                                                <i class="fas fa-info-circle red_text ml-1"
                                                    matTooltip="{{data?.file_upload_failure_reason || data?.failure_reason}}"></i>
                                            </span>
                                        </td>
                                        <td class="text-right">{{ data?.successfulEntries }} <i
                                                (click)="getData('isSuccess' , data?.id ,data?.fileName || data?.file_name)"
                                                class="fas fa-download green_text cursor_pointer ml-1"></i></td>
                                        <td class="text-right">{{ data?.failedEntries }} <i
                                                (click)="getData('isFailed' , data?.id ,data?.fileName || data?.file_name)"
                                                class="fas fa-download red_text cursor_pointer ml-1"></i></td>
                                        <td class="text-right pr-3">{{ data?.totalEntries }} <i
                                                (click)="getData('isTotal' , data?.id ,data?.fileName || data?.file_name)"
                                                class="fas fa-download black_text cursor_pointer ml-1"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pagination-table NP_LeftPagintion">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Showing
                                {{startIndex + 1}} to
                                {{(pageSize * page) > totalSize ? totalSize : (pageSize * page)}} of
                                {{totalSize}}
                                row
                                <div class="dataTables_length" id="tickets-table_length">
                                    <div class="NP_HSBC_ComInput select-field">
                                        <mat-form-field appearance="outline">
                                            <mat-select [(ngModel)]="pageSize" id="pagesizee" #pagesizee
                                                [panelClass]="'pagination_select'"
                                                (selectionChange)="pageSizeChange(pagesizee.value, page)"
                                                [ngModelOptions]="{standalone: true}">
                                                <mat-option *ngFor="let pages of PageSelectNumber" [value]="pages.value">
                                                    {{pages.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-7">
                            <div class="text-md-right float-md-right pagination-rounded">
                                <ul class="pagiation pagination-rounded psb-flex-end my-2">
                                    <ngb-pagination [collectionSize]="totalSize" [maxSize]="3" [(page)]="page"
                                        [rotate]="true" [boundaryLinks]="true" [pageSize]="pageSize"
                                        (pageChange)="onChangePage($event)">
                                    </ngb-pagination>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>