.inner_table{
    tr{
        border: 0;
    }
    td{
        padding: 5px 0;
        line-height: 100%;
    }
}

.content_title{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 20px 0 10px;
}

.text_para{
    text-align: justify;
}