<main class="HSBC_Common_popup __Pad0PX">
    <div class="__HSBC_Popup__header _Icon_TopRight">
        <p class="HSBC__title">
            <img src="assets/images/Dashabord/hsbc_Logo.png" alt="HSBC Bank Logo">
        </p>
        <button mat-icon-button  class="HSBC__Btn_Icon">
            <!-- (click)="closePopup()" -->
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="HSBC__Popup_Body">
        <div class="__HSBC_Common_Cont_Popup Flex_Wrap ConfirmationTxt">
            <!-- <div class="__Common_texts _Img_Text_Pop _pd0px">
                <p class="__ptext">Your Business PAN</p>
            </div> -->
            
        </div>
    </div>
    <div class="HSBC_Popup_btn_Grp JC_Center">
        <button mat-raised-button color="primary" class="Btn__Common __Primary">Proceed</button>
    </div>
</main>