
.__Btn_Group{
    justify-content: space-between !important;
    align-items: flex-start !important;
    .upload_note{
        font-style: italic;
    }
}

.box_design_ttl_bar{
    border-bottom: 1px solid #DCDFE0;
  }

  .radio_top{ 
    margin-bottom:20px; 
}