<!-- <div class="modal-header d-block">
    <h4 class="modal-title">Sent Link to Borrower
    </h4>
    <span class="text-muted">
        Link(s) will be triggered to borrower to complete the details for the further verification for the Pre-Approved
        Business Loa
    </span>

</div>
<div class="modal-body">
    <span class="text-muted">
        Do you want to proceed ?
    </span>
</div>
<div class="modal-footer">
    <a href="javascript: void(0)" class="btn btn-psb btn-secondary waves-effect">Cancel</a>
    <a href="javascript: void(0)" class="btn btn-psb btn-psbpurple waves-effect">
        Proceed <mat-icon>arrow_right_alt</mat-icon></a>
</div> -->

<div class="popup_design max-500">
    <a class="modal_closeicn_btn" href="javascript:void(0)">
        <mat-icon matDialogClose="" cdkFocusInitial>close</mat-icon>
    </a>
    <div class="pop_up_container">
        <div class="popup_header" mat-dialog-title>
            <h3>Sent Link to Borrower</h3>
        </div>
        <mat-dialog-content>
            <div class="popup_body">
                <p class="text-muted">Link(s) will be triggered to borrower to complete the details for the further
                    verification for the Pre-Approved
                    Business Loan</p>

                <p class="text-muted mt-2">Do you want to proceed ?</p>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center popup_actions_btns">
            <button mat-flat-button color="primary" matDialogClose="">Cancel</button>
            <button mat-flat-button color="primary" matDialogClose="">Proceed <mat-icon
                    class="ml-1">arrow_forward</mat-icon></button>
        </mat-dialog-actions>
    </div>
</div>