 
.Border_0_width_100 {
    border: 0 !important;
    width: 100% !important;
}

.orange_text{
color: #ff9900 !important;
}

.comingSoon_lottie_icon i{
    color: #ff9900 !important;
    font-size: 20px;
    margin-right: 10px;

}

.theme_text p{
    font-size: 14px;
    color: #ccc;
}


.rotate_icon{
    i{
        transform: rotate(180deg);
    }
}